--
-- PostgreSQL database dump
--

\restrict rgArHMZW2sRUSekrgO9ufcLgud6oYXbaIlQaMPp7aQlIOdrXAf73H6mQJVjs3Xx

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

-- Cleanup existing rows for the same ship_id to make script re-runnable
DELETE FROM public.ship_shaft_generators WHERE ship_data_id = 'c2d3e4f5-a6b7-48c9-b1d2-e3f405162738';
DELETE FROM public.ship_sternthrusters WHERE ship_data_id = 'c2d3e4f5-a6b7-48c9-b1d2-e3f405162738';
DELETE FROM public.ship_bowthrusters WHERE ship_data_id = 'c2d3e4f5-a6b7-48c9-b1d2-e3f405162738';
DELETE FROM public.ship_rudders WHERE ship_data_id = 'c2d3e4f5-a6b7-48c9-b1d2-e3f405162738';
DELETE FROM public.ship_propellers WHERE ship_data_id = 'c2d3e4f5-a6b7-48c9-b1d2-e3f405162738';
DELETE FROM public.ship_boilers WHERE ship_data_id = 'c2d3e4f5-a6b7-48c9-b1d2-e3f405162738';
DELETE FROM public.ship_auxiliary_engines WHERE ship_data_id = 'c2d3e4f5-a6b7-48c9-b1d2-e3f405162738';
DELETE FROM public.ship_main_engines WHERE ship_data_id = 'c2d3e4f5-a6b7-48c9-b1d2-e3f405162738';
DELETE FROM public.ship_load_lines WHERE ship_data_id = 'c2d3e4f5-a6b7-48c9-b1d2-e3f405162738';
DELETE FROM public.ship_pilot_card_data WHERE ship_data_id = 'c2d3e4f5-a6b7-48c9-b1d2-e3f405162738';
DELETE FROM public.ship_data WHERE id = 'c2d3e4f5-a6b7-48c9-b1d2-e3f405162738';

--
-- Data for Name: ship_data; Type: TABLE DATA; Schema: public; Owner: edge_user
--



--
-- Data for Name: ship_auxiliary_engines; Type: TABLE DATA; Schema: public; Owner: edge_user
--

INSERT INTO public.ship_auxiliary_engines VALUES ('8ab1f24d-ef22-4211-a0ab-34d11e657a10', 'c2d3e4f5-a6b7-48c9-b1d2-e3f405162738', 'Yanmar 6EY26LW', 'MDO/VLSFO', 2150, 1);
INSERT INTO public.ship_auxiliary_engines VALUES ('54df21cc-9948-45e3-9d5f-10c4beea0d69', 'c2d3e4f5-a6b7-48c9-b1d2-e3f405162738', 'Yanmar 6EY26LW', 'MDO/VLSFO', 2150, 0);
INSERT INTO public.ship_auxiliary_engines VALUES ('df7e3d40-f420-4d8f-9a76-2ec2e52df8c9', 'c2d3e4f5-a6b7-48c9-b1d2-e3f405162738', 'Yanmar 6EY26LW', 'MDO/VLSFO', 2150, 2);


--
-- Data for Name: ship_boilers; Type: TABLE DATA; Schema: public; Owner: edge_user
--

INSERT INTO public.ship_boilers VALUES ('1a4ff338-7621-4740-8d26-1db7952bf238', 'c2d3e4f5-a6b7-48c9-b1d2-e3f405162738', 'Oil Fired Auxiliary Boiler', 'Aalborg OC-TCI', 1);
INSERT INTO public.ship_boilers VALUES ('70391914-6703-4cdf-b61a-196c6fd7caf0', 'c2d3e4f5-a6b7-48c9-b1d2-e3f405162738', 'Exhaust Gas Economizer', 'Aalborg XS-2V', 0);


--
-- Data for Name: ship_bowthrusters; Type: TABLE DATA; Schema: public; Owner: edge_user
--

INSERT INTO public.ship_bowthrusters VALUES ('d72d1f6a-c4f9-4737-8a43-c20f9bc404e7', 'c2d3e4f5-a6b7-48c9-b1d2-e3f405162738', 2500, 0);


--
-- Data for Name: ship_load_lines; Type: TABLE DATA; Schema: public; Owner: edge_user
--

INSERT INTO public.ship_load_lines VALUES ('53fdad66-f8b7-4048-8f96-6f5ec95f7c42', 'c2d3e4f5-a6b7-48c9-b1d2-e3f405162738', 'Tropical Fresh Water (TF)', 13.9, NULL, 88500, 66000, 5);
INSERT INTO public.ship_load_lines VALUES ('15bf69df-62dc-488c-bcb8-20a78185ef8a', 'c2d3e4f5-a6b7-48c9-b1d2-e3f405162738', 'T', 14.7, NULL, 95200, 72700, 1);
INSERT INTO public.ship_load_lines VALUES ('638d74f4-8f11-42aa-bd52-5e6e93f39f8f', 'c2d3e4f5-a6b7-48c9-b1d2-e3f405162738', 'Fresh Water (F)', 14.2, NULL, 91000, 68500, 4);


--
-- Data for Name: ship_main_engines; Type: TABLE DATA; Schema: public; Owner: edge_user
--

INSERT INTO public.ship_main_engines VALUES ('6d56abf9-fda7-4e2d-8f74-61dca4d56116', 'c2d3e4f5-a6b7-48c9-b1d2-e3f405162738', 'MAN B&W 11G95ME-C9.5', 'HFO/VLSFO', 57200, 62800, 0);


--
-- Data for Name: ship_pilot_card_data; Type: TABLE DATA; Schema: public; Owner: edge_user
--

INSERT INTO public.ship_pilot_card_data VALUES ('c34e39e8-84d9-4451-9324-5f10da47f9bb', 'c2d3e4f5-a6b7-48c9-b1d2-e3f405162738', 'Dead Slow Ahead', 35, 6.5, 7.2, 3);
INSERT INTO public.ship_pilot_card_data VALUES ('0394c85f-5a49-41ea-a16d-191a768d8a90', 'c2d3e4f5-a6b7-48c9-b1d2-e3f405162738', 'Dead Slow Astern', 35, 4, 4.5, 4);
INSERT INTO public.ship_pilot_card_data VALUES ('9481ddfb-e9bf-4848-a58c-23f86937662a', 'c2d3e4f5-a6b7-48c9-b1d2-e3f405162738', 'Half Astern', 65, 7.5, 8.2, 6);


--
-- Data for Name: ship_propellers; Type: TABLE DATA; Schema: public; Owner: edge_user
--

INSERT INTO public.ship_propellers VALUES ('87cc61b8-ed90-4f8b-a04e-27d4a1759de2', 'c2d3e4f5-a6b7-48c9-b1d2-e3f405162738', '(FPP) Fixed Pitch Propeller', 6, 'Clockwise', 9100, 7280, 0.8, 0);


--
-- Data for Name: ship_rudders; Type: TABLE DATA; Schema: public; Owner: edge_user
--

INSERT INTO public.ship_rudders VALUES ('75341a2d-4ef6-48e9-afdd-c3186e31a16f', 'c2d3e4f5-a6b7-48c9-b1d2-e3f405162738', 'Semi-balanced Spade', 0);


--
-- Data for Name: ship_shaft_generators; Type: TABLE DATA; Schema: public; Owner: edge_user
--

INSERT INTO public.ship_shaft_generators VALUES ('9f9ca8d2-b668-492f-96e2-78677bb67d20', 'c2d3e4f5-a6b7-48c9-b1d2-e3f405162738', 3500, 0);


--
-- Data for Name: ship_sternthrusters; Type: TABLE DATA; Schema: public; Owner: edge_user
--



--
-- PostgreSQL database dump complete
--

\unrestrict rgArHMZW2sRUSekrgO9ufcLgud6oYXbaIlQaMPp7aQlIOdrXAf73H6mQJVjs3Xx



