--
-- PostgreSQL database dump
--

\restrict 2XyvwbtIrlgLnOnqTTtIhByPq36NyJAysAwEKd75qtuDcaxhC3ivg29VLmJUwdi

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: ship_data; Type: TABLE DATA; Schema: public; Owner: edge_user
--



--
-- PostgreSQL database dump complete
--

\unrestrict 2XyvwbtIrlgLnOnqTTtIhByPq36NyJAysAwEKd75qtuDcaxhC3ivg29VLmJUwdi

--
-- PostgreSQL database dump
--

\restrict 4KVEv99ZLqANm7IbiSnBpuyOGjBhW4uunmqhhFxcNmYghU1klrmFu3TtD3dXcTe

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: ship_auxiliary_engines; Type: TABLE DATA; Schema: public; Owner: edge_user
--

INSERT INTO public.ship_auxiliary_engines VALUES ('34cd494a-f989-4bcd-ab28-65358375d337', 'a1b2c3d4-e5f6-7890-abcd-ef1234567890', 'Yanmar 6EY26LW', 'MDO/VLSFO', 2150, 1);
INSERT INTO public.ship_auxiliary_engines VALUES ('6ca91cc1-1ccd-4a27-a121-5fdcd6f08de1', 'a1b2c3d4-e5f6-7890-abcd-ef1234567890', 'Yanmar 6EY26LW', 'MDO/VLSFO', 2150, 0);
INSERT INTO public.ship_auxiliary_engines VALUES ('e3968856-6572-4e8d-bfbe-29a2d00894cd', 'a1b2c3d4-e5f6-7890-abcd-ef1234567890', 'Yanmar 6EY26LW', 'MDO/VLSFO', 2150, 2);


--
-- Data for Name: ship_boilers; Type: TABLE DATA; Schema: public; Owner: edge_user
--

INSERT INTO public.ship_boilers VALUES ('3e5744bc-2120-4705-9750-c82e58d44e2c', 'a1b2c3d4-e5f6-7890-abcd-ef1234567890', 'Oil Fired Auxiliary Boiler', 'Aalborg OC-TCI', 1);
INSERT INTO public.ship_boilers VALUES ('8e6f38ff-b9f9-4e68-b673-6065f83321aa', 'a1b2c3d4-e5f6-7890-abcd-ef1234567890', 'Exhaust Gas Economizer', 'Aalborg XS-2V', 0);


--
-- Data for Name: ship_bowthrusters; Type: TABLE DATA; Schema: public; Owner: edge_user
--

INSERT INTO public.ship_bowthrusters VALUES ('f47fd42f-b3c3-468e-8f5f-6cd229cc1315', 'a1b2c3d4-e5f6-7890-abcd-ef1234567890', 2500, 0);


--
-- Data for Name: ship_load_lines; Type: TABLE DATA; Schema: public; Owner: edge_user
--

INSERT INTO public.ship_load_lines VALUES ('0a62471a-544f-4594-a17d-690c1844a861', 'a1b2c3d4-e5f6-7890-abcd-ef1234567890', 'Tropical Fresh Water (TF)', 13.9, NULL, 88500, 66000, 5);
INSERT INTO public.ship_load_lines VALUES ('59410de6-b768-4c2b-951e-85a5ffce87bc', 'a1b2c3d4-e5f6-7890-abcd-ef1234567890', 'T', 14.7, NULL, 95200, 72700, 1);
INSERT INTO public.ship_load_lines VALUES ('6c53db5a-729b-4679-9d48-99dc7485d4d8', 'a1b2c3d4-e5f6-7890-abcd-ef1234567890', 'Fresh Water (F)', 14.2, NULL, 91000, 68500, 4);


--
-- Data for Name: ship_main_engines; Type: TABLE DATA; Schema: public; Owner: edge_user
--

INSERT INTO public.ship_main_engines VALUES ('43403dbe-b57a-4433-a538-4ffeef14f2d8', 'a1b2c3d4-e5f6-7890-abcd-ef1234567890', 'MAN B&W 11G95ME-C9.5', 'HFO/VLSFO', 57200, 62800, 0);


--
-- Data for Name: ship_pilot_card_data; Type: TABLE DATA; Schema: public; Owner: edge_user
--

INSERT INTO public.ship_pilot_card_data VALUES ('0ae08c74-ec5f-4595-9208-54ce6ca211c2', 'a1b2c3d4-e5f6-7890-abcd-ef1234567890', 'Dead Slow Ahead', 35, 6.5, 7.2, 3);
INSERT INTO public.ship_pilot_card_data VALUES ('414cfe05-7539-4708-82b8-800b3f46806d', 'a1b2c3d4-e5f6-7890-abcd-ef1234567890', 'Dead Slow Astern', 35, 4, 4.5, 4);
INSERT INTO public.ship_pilot_card_data VALUES ('4a309610-cd5a-46e9-8b23-350fa34f187f', 'a1b2c3d4-e5f6-7890-abcd-ef1234567890', 'Half Astern', 65, 7.5, 8.2, 6);


--
-- Data for Name: ship_propellers; Type: TABLE DATA; Schema: public; Owner: edge_user
--

INSERT INTO public.ship_propellers VALUES ('b305cb58-8d35-43df-ac5d-285c38fe7aa3', 'a1b2c3d4-e5f6-7890-abcd-ef1234567890', '(FPP) Fixed Pitch Propeller', 6, 'Clockwise', 9100, 7280, 0.8, 0);


--
-- Data for Name: ship_rudders; Type: TABLE DATA; Schema: public; Owner: edge_user
--

INSERT INTO public.ship_rudders VALUES ('f41ddb03-b5b8-4f4c-bd3e-1ad89c0bd727', 'a1b2c3d4-e5f6-7890-abcd-ef1234567890', 'Semi-balanced Spade', 0);


--
-- Data for Name: ship_shaft_generators; Type: TABLE DATA; Schema: public; Owner: edge_user
--

INSERT INTO public.ship_shaft_generators VALUES ('2027c406-7300-49ab-9aad-799689b77b2c', 'a1b2c3d4-e5f6-7890-abcd-ef1234567890', 3500, 0);


--
-- Data for Name: ship_sternthrusters; Type: TABLE DATA; Schema: public; Owner: edge_user
--



--
-- PostgreSQL database dump complete
--

\unrestrict 4KVEv99ZLqANm7IbiSnBpuyOGjBhW4uunmqhhFxcNmYghU1klrmFu3TtD3dXcTe

--
-- PostgreSQL database dump
--

\restrict BqKox3mMwoZgYreZltxwHVb9CS9xgotGgCeDvpu1D78A21aggDFQJCSD4oQSaHV

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: ship_auxiliary_engines; Type: TABLE DATA; Schema: public; Owner: edge_user
--



--
-- Data for Name: ship_boilers; Type: TABLE DATA; Schema: public; Owner: edge_user
--

INSERT INTO public.ship_boilers VALUES ('3e5744bc-2120-4705-9750-c82e58d44e2c', 'a1b2c3d4-e5f6-7890-abcd-ef1234567890', 'Oil Fired Auxiliary Boiler', 'Aalborg OC-TCI', 1);


--
-- Data for Name: ship_bowthrusters; Type: TABLE DATA; Schema: public; Owner: edge_user
--

INSERT INTO public.ship_bowthrusters VALUES ('f47fd42f-b3c3-468e-8f5f-6cd229cc1315', 'a1b2c3d4-e5f6-7890-abcd-ef1234567890', 2500, 0);


--
-- Data for Name: ship_load_lines; Type: TABLE DATA; Schema: public; Owner: edge_user
--



--
-- Data for Name: ship_main_engines; Type: TABLE DATA; Schema: public; Owner: edge_user
--

INSERT INTO public.ship_main_engines VALUES ('43403dbe-b57a-4433-a538-4ffeef14f2d8', 'a1b2c3d4-e5f6-7890-abcd-ef1234567890', 'MAN B&W 11G95ME-C9.5', 'HFO/VLSFO', 57200, 62800, 0);


--
-- Data for Name: ship_pilot_card_data; Type: TABLE DATA; Schema: public; Owner: edge_user
--



--
-- Data for Name: ship_propellers; Type: TABLE DATA; Schema: public; Owner: edge_user
--

INSERT INTO public.ship_propellers VALUES ('b305cb58-8d35-43df-ac5d-285c38fe7aa3', 'a1b2c3d4-e5f6-7890-abcd-ef1234567890', '(FPP) Fixed Pitch Propeller', 6, 'Clockwise', 9100, 7280, 0.8, 0);


--
-- Data for Name: ship_rudders; Type: TABLE DATA; Schema: public; Owner: edge_user
--

INSERT INTO public.ship_rudders VALUES ('f41ddb03-b5b8-4f4c-bd3e-1ad89c0bd727', 'a1b2c3d4-e5f6-7890-abcd-ef1234567890', 'Semi-balanced Spade', 0);


--
-- Data for Name: ship_shaft_generators; Type: TABLE DATA; Schema: public; Owner: edge_user
--

INSERT INTO public.ship_shaft_generators VALUES ('2027c406-7300-49ab-9aad-799689b77b2c', 'a1b2c3d4-e5f6-7890-abcd-ef1234567890', 3500, 0);


--
-- Data for Name: ship_sternthrusters; Type: TABLE DATA; Schema: public; Owner: edge_user
--



--
-- PostgreSQL database dump complete
--

\unrestrict BqKox3mMwoZgYreZltxwHVb9CS9xgotGgCeDvpu1D78A21aggDFQJCSD4oQSaHV

