UPDATE noon_reports SET is_synced = true WHERE id IN (SELECT record_key::uuid FROM sync_queue WHERE table_name = 'noon_report' AND synced_at IS NOT NULL); UPDATE departure_reports SET is_synced = true WHERE id IN (SELECT record_key::uuid FROM sync_queue WHERE table_name = 'departure_report' AND synced_at IS NOT NULL); UPDATE arrival_reports SET is_synced = true WHERE id IN (SELECT record_key::uuid FROM sync_queue WHERE table_name = 'arrival_report' AND synced_at IS NOT NULL);
