--
-- PostgreSQL database dump
--

\restrict rbrgeLYCMUwGCqB8T7hrKSS7P3x0Acc2NfQlcJxSopy3kIbwo3K1xfdbfDRSLUb

-- Dumped from database version 15.14 (Debian 15.14-1.pgdg13+1)
-- Dumped by pg_dump version 15.14 (Debian 15.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.travel_documents DROP CONSTRAINT IF EXISTS "FK_travel_documents_crew_members_CrewMemberId";
ALTER TABLE IF EXISTS ONLY public.travel_documents DROP CONSTRAINT IF EXISTS "FK_travel_documents_countries_CountryId";
ALTER TABLE IF EXISTS ONLY public.service_records DROP CONSTRAINT IF EXISTS "FK_service_records_crew_members_CrewMemberId1";
ALTER TABLE IF EXISTS ONLY public.service_records DROP CONSTRAINT IF EXISTS "FK_service_records_crew_members_CrewMemberId";
ALTER TABLE IF EXISTS ONLY public.seafarer_documents DROP CONSTRAINT IF EXISTS "FK_seafarer_documents_crew_members_CrewMemberId";
ALTER TABLE IF EXISTS ONLY public.seafarer_documents DROP CONSTRAINT IF EXISTS "FK_seafarer_documents_countries_CountryId";
ALTER TABLE IF EXISTS ONLY public.rank_certificates DROP CONSTRAINT IF EXISTS "FK_rank_certificates_ranks_RankId";
ALTER TABLE IF EXISTS ONLY public.rank_certificates DROP CONSTRAINT IF EXISTS "FK_rank_certificates_certificates_CertificateId";
ALTER TABLE IF EXISTS ONLY public.health_documents DROP CONSTRAINT IF EXISTS "FK_health_documents_crew_members_CrewMemberId";
ALTER TABLE IF EXISTS ONLY public.employment_documents DROP CONSTRAINT IF EXISTS "FK_employment_documents_crew_members_CrewMemberId";
ALTER TABLE IF EXISTS ONLY public.employment_documents DROP CONSTRAINT IF EXISTS "FK_employment_documents_countries_CountryId";
ALTER TABLE IF EXISTS ONLY public.crew_members DROP CONSTRAINT IF EXISTS "FK_crew_members_ranks_RankId";
ALTER TABLE IF EXISTS ONLY public.crew_certificates DROP CONSTRAINT IF EXISTS "FK_crew_certificates_crew_members_CrewMemberId";
ALTER TABLE IF EXISTS ONLY public.crew_certificates DROP CONSTRAINT IF EXISTS "FK_crew_certificates_countries_CountryId";
ALTER TABLE IF EXISTS ONLY public.crew_certificates DROP CONSTRAINT IF EXISTS "FK_crew_certificates_certificates_CertificateId";
ALTER TABLE IF EXISTS ONLY public.country_certificates DROP CONSTRAINT IF EXISTS "FK_country_certificates_countries_CountryId";
ALTER TABLE IF EXISTS ONLY public.country_certificates DROP CONSTRAINT IF EXISTS "FK_country_certificates_certificates_CertificateId";
ALTER TABLE IF EXISTS ONLY public."VesselPositions" DROP CONSTRAINT IF EXISTS "FK_VesselPositions_Vessels_VesselId";
ALTER TABLE IF EXISTS ONLY public."VesselAlerts" DROP CONSTRAINT IF EXISTS "FK_VesselAlerts_Vessels_VesselId";
ALTER TABLE IF EXISTS ONLY public."PortCalls" DROP CONSTRAINT IF EXISTS "FK_PortCalls_Vessels_VesselId";
ALTER TABLE IF EXISTS ONLY public."FuelConsumptions" DROP CONSTRAINT IF EXISTS "FK_FuelConsumptions_Vessels_VesselId";
ALTER TABLE IF EXISTS ONLY public."Certificates" DROP CONSTRAINT IF EXISTS "FK_Certificates_Vessels_VesselId";
DROP INDEX IF EXISTS public."IX_travel_documents_CrewMemberId";
DROP INDEX IF EXISTS public."IX_travel_documents_CountryId";
DROP INDEX IF EXISTS public."IX_sync_table_stats_NodeId_TableName";
DROP INDEX IF EXISTS public."IX_sync_outbox_TableName_RecordKey";
DROP INDEX IF EXISTS public."IX_sync_outbox_DeliveredAt";
DROP INDEX IF EXISTS public."IX_sync_node_trackers_NodeId";
DROP INDEX IF EXISTS public."IX_sync_node_trackers_IsOnline";
DROP INDEX IF EXISTS public."IX_sync_logs_ProcessedAt";
DROP INDEX IF EXISTS public."IX_sync_logs_OriginNode";
DROP INDEX IF EXISTS public."IX_sync_idempotency_records_ProcessedAt";
DROP INDEX IF EXISTS public."IX_sync_idempotency_records_IdempotencyKey";
DROP INDEX IF EXISTS public."IX_service_records_IsSynced";
DROP INDEX IF EXISTS public."IX_service_records_CrewMemberId1";
DROP INDEX IF EXISTS public."IX_service_records_CrewMemberId";
DROP INDEX IF EXISTS public."IX_seafarer_documents_CrewMemberId";
DROP INDEX IF EXISTS public."IX_seafarer_documents_CountryId";
DROP INDEX IF EXISTS public."IX_ranks_RankCode";
DROP INDEX IF EXISTS public."IX_rank_certificates_RankId_CertificateId";
DROP INDEX IF EXISTS public."IX_rank_certificates_CertificateId";
DROP INDEX IF EXISTS public."IX_health_documents_CrewMemberId";
DROP INDEX IF EXISTS public."IX_employment_documents_CrewMemberId";
DROP INDEX IF EXISTS public."IX_employment_documents_CountryId";
DROP INDEX IF EXISTS public."IX_crew_members_RankId";
DROP INDEX IF EXISTS public."IX_crew_members_IsSynced";
DROP INDEX IF EXISTS public."IX_crew_members_IsOnboard";
DROP INDEX IF EXISTS public."IX_crew_members_FullName";
DROP INDEX IF EXISTS public."IX_crew_members_CrewId";
DROP INDEX IF EXISTS public."IX_crew_certificates_IsSynced";
DROP INDEX IF EXISTS public."IX_crew_certificates_ExpiryDate";
DROP INDEX IF EXISTS public."IX_crew_certificates_CrewMemberId_CertificateId";
DROP INDEX IF EXISTS public."IX_crew_certificates_CountryId";
DROP INDEX IF EXISTS public."IX_crew_certificates_CertificateId";
DROP INDEX IF EXISTS public."IX_country_certificates_CountryId_CertificateId";
DROP INDEX IF EXISTS public."IX_country_certificates_CertificateId";
DROP INDEX IF EXISTS public."IX_countries_CountryCode";
DROP INDEX IF EXISTS public."IX_certificates_CertificateCode";
DROP INDEX IF EXISTS public."IX_Vessels_IMO";
DROP INDEX IF EXISTS public."IX_VesselPositions_VesselId_Timestamp";
DROP INDEX IF EXISTS public."IX_VesselAlerts_VesselId_Timestamp";
DROP INDEX IF EXISTS public."IX_VesselAlerts_IsAcknowledged";
DROP INDEX IF EXISTS public."IX_PortCalls_VesselId_ArrivalTime";
DROP INDEX IF EXISTS public."IX_FuelConsumptions_VesselId";
DROP INDEX IF EXISTS public."IX_Certificates_VesselId_ExpiryDate";
DROP INDEX IF EXISTS public."IX_Certificates_CertificateNumber";
ALTER TABLE IF EXISTS ONLY public.travel_documents DROP CONSTRAINT IF EXISTS "PK_travel_documents";
ALTER TABLE IF EXISTS ONLY public.sync_table_stats DROP CONSTRAINT IF EXISTS "PK_sync_table_stats";
ALTER TABLE IF EXISTS ONLY public.sync_outbox DROP CONSTRAINT IF EXISTS "PK_sync_outbox";
ALTER TABLE IF EXISTS ONLY public.sync_node_trackers DROP CONSTRAINT IF EXISTS "PK_sync_node_trackers";
ALTER TABLE IF EXISTS ONLY public.sync_logs DROP CONSTRAINT IF EXISTS "PK_sync_logs";
ALTER TABLE IF EXISTS ONLY public.sync_idempotency_records DROP CONSTRAINT IF EXISTS "PK_sync_idempotency_records";
ALTER TABLE IF EXISTS ONLY public.service_records DROP CONSTRAINT IF EXISTS "PK_service_records";
ALTER TABLE IF EXISTS ONLY public.seafarer_documents DROP CONSTRAINT IF EXISTS "PK_seafarer_documents";
ALTER TABLE IF EXISTS ONLY public.ranks DROP CONSTRAINT IF EXISTS "PK_ranks";
ALTER TABLE IF EXISTS ONLY public.rank_certificates DROP CONSTRAINT IF EXISTS "PK_rank_certificates";
ALTER TABLE IF EXISTS ONLY public.health_documents DROP CONSTRAINT IF EXISTS "PK_health_documents";
ALTER TABLE IF EXISTS ONLY public.employment_documents DROP CONSTRAINT IF EXISTS "PK_employment_documents";
ALTER TABLE IF EXISTS ONLY public.crew_members DROP CONSTRAINT IF EXISTS "PK_crew_members";
ALTER TABLE IF EXISTS ONLY public.crew_certificates DROP CONSTRAINT IF EXISTS "PK_crew_certificates";
ALTER TABLE IF EXISTS ONLY public.country_certificates DROP CONSTRAINT IF EXISTS "PK_country_certificates";
ALTER TABLE IF EXISTS ONLY public.countries DROP CONSTRAINT IF EXISTS "PK_countries";
ALTER TABLE IF EXISTS ONLY public.certificates DROP CONSTRAINT IF EXISTS "PK_certificates";
ALTER TABLE IF EXISTS ONLY public."__EFMigrationsHistory" DROP CONSTRAINT IF EXISTS "PK___EFMigrationsHistory";
ALTER TABLE IF EXISTS ONLY public."VoyageRecords" DROP CONSTRAINT IF EXISTS "PK_VoyageRecords";
ALTER TABLE IF EXISTS ONLY public."Vessels" DROP CONSTRAINT IF EXISTS "PK_Vessels";
ALTER TABLE IF EXISTS ONLY public."VesselPositions" DROP CONSTRAINT IF EXISTS "PK_VesselPositions";
ALTER TABLE IF EXISTS ONLY public."VesselAlerts" DROP CONSTRAINT IF EXISTS "PK_VesselAlerts";
ALTER TABLE IF EXISTS ONLY public."Users" DROP CONSTRAINT IF EXISTS "PK_Users";
ALTER TABLE IF EXISTS ONLY public."TankLevels" DROP CONSTRAINT IF EXISTS "PK_TankLevels";
ALTER TABLE IF EXISTS ONLY public."Ships" DROP CONSTRAINT IF EXISTS "PK_Ships";
ALTER TABLE IF EXISTS ONLY public."SafetyAlarms" DROP CONSTRAINT IF EXISTS "PK_SafetyAlarms";
ALTER TABLE IF EXISTS ONLY public."ReportTypes" DROP CONSTRAINT IF EXISTS "PK_ReportTypes";
ALTER TABLE IF EXISTS ONLY public."PositionData" DROP CONSTRAINT IF EXISTS "PK_PositionData";
ALTER TABLE IF EXISTS ONLY public."PortCalls" DROP CONSTRAINT IF EXISTS "PK_PortCalls";
ALTER TABLE IF EXISTS ONLY public."NoonReports" DROP CONSTRAINT IF EXISTS "PK_NoonReports";
ALTER TABLE IF EXISTS ONLY public."MaritimeReports" DROP CONSTRAINT IF EXISTS "PK_MaritimeReports";
ALTER TABLE IF EXISTS ONLY public."MaintenanceTasks" DROP CONSTRAINT IF EXISTS "PK_MaintenanceTasks";
ALTER TABLE IF EXISTS ONLY public."GeneratorData" DROP CONSTRAINT IF EXISTS "PK_GeneratorData";
ALTER TABLE IF EXISTS ONLY public."FuelConsumptions" DROP CONSTRAINT IF EXISTS "PK_FuelConsumptions";
ALTER TABLE IF EXISTS ONLY public."FuelConsumptionData" DROP CONSTRAINT IF EXISTS "PK_FuelConsumptionData";
ALTER TABLE IF EXISTS ONLY public."EngineData" DROP CONSTRAINT IF EXISTS "PK_EngineData";
ALTER TABLE IF EXISTS ONLY public."Certificates" DROP CONSTRAINT IF EXISTS "PK_Certificates";
ALTER TABLE IF EXISTS ONLY public."AisData" DROP CONSTRAINT IF EXISTS "PK_AisData";
DROP TABLE IF EXISTS public.travel_documents;
DROP TABLE IF EXISTS public.sync_table_stats;
DROP TABLE IF EXISTS public.sync_outbox;
DROP TABLE IF EXISTS public.sync_node_trackers;
DROP TABLE IF EXISTS public.sync_logs;
DROP TABLE IF EXISTS public.sync_idempotency_records;
DROP TABLE IF EXISTS public.service_records;
DROP TABLE IF EXISTS public.seafarer_documents;
DROP TABLE IF EXISTS public.ranks;
DROP TABLE IF EXISTS public.rank_certificates;
DROP TABLE IF EXISTS public.health_documents;
DROP TABLE IF EXISTS public.employment_documents;
DROP TABLE IF EXISTS public.crew_members;
DROP TABLE IF EXISTS public.crew_certificates;
DROP TABLE IF EXISTS public.country_certificates;
DROP TABLE IF EXISTS public.countries;
DROP TABLE IF EXISTS public.certificates;
DROP TABLE IF EXISTS public."__EFMigrationsHistory";
DROP TABLE IF EXISTS public."VoyageRecords";
DROP TABLE IF EXISTS public."Vessels";
DROP TABLE IF EXISTS public."VesselPositions";
DROP TABLE IF EXISTS public."VesselAlerts";
DROP TABLE IF EXISTS public."Users";
DROP TABLE IF EXISTS public."TankLevels";
DROP TABLE IF EXISTS public."Ships";
DROP TABLE IF EXISTS public."SafetyAlarms";
DROP TABLE IF EXISTS public."ReportTypes";
DROP TABLE IF EXISTS public."PositionData";
DROP TABLE IF EXISTS public."PortCalls";
DROP TABLE IF EXISTS public."NoonReports";
DROP TABLE IF EXISTS public."MaritimeReports";
DROP TABLE IF EXISTS public."MaintenanceTasks";
DROP TABLE IF EXISTS public."GeneratorData";
DROP TABLE IF EXISTS public."FuelConsumptions";
DROP TABLE IF EXISTS public."FuelConsumptionData";
DROP TABLE IF EXISTS public."EngineData";
DROP TABLE IF EXISTS public."Certificates";
DROP TABLE IF EXISTS public."AisData";
SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AisData; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."AisData" (
    "Id" uuid NOT NULL,
    "Timestamp" timestamp with time zone NOT NULL,
    "Mmsi" character varying(9) NOT NULL,
    "SpeedOverGround" double precision,
    "Latitude" double precision,
    "Longitude" double precision,
    "CourseOverGround" double precision,
    "ShipName" character varying(120),
    "Destination" character varying(120),
    "EtaMonth" integer,
    "EtaDay" integer,
    "EtaHour" integer,
    "EtaMinute" integer,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone NOT NULL,
    "OriginNode" character varying(50) NOT NULL
);


--
-- Name: Certificates; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Certificates" (
    "Id" uuid NOT NULL,
    "VesselId" uuid NOT NULL,
    "CertificateType" text NOT NULL,
    "CertificateName" text NOT NULL,
    "IssuingAuthority" text NOT NULL,
    "IssueDate" timestamp with time zone NOT NULL,
    "ExpiryDate" timestamp with time zone NOT NULL,
    "CertificateNumber" text NOT NULL,
    "IsValid" boolean NOT NULL,
    "DocumentPath" text
);


--
-- Name: EngineData; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."EngineData" (
    "Id" uuid NOT NULL,
    "Timestamp" timestamp with time zone NOT NULL,
    "EngineId" character varying(50) NOT NULL,
    "FuelRate" double precision,
    "RunningHours" double precision,
    "AlarmStatus" integer,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone NOT NULL,
    "OriginNode" character varying(50) NOT NULL
);


--
-- Name: TABLE "EngineData"; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public."EngineData" IS 'Optimized - Removed Rpm/LoadPercent realtime data';


--
-- Name: FuelConsumptionData; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."FuelConsumptionData" (
    "Id" uuid NOT NULL,
    "Timestamp" timestamp with time zone NOT NULL,
    "FuelType" character varying(20) NOT NULL,
    "ConsumedVolume" double precision NOT NULL,
    "ConsumedMass" double precision NOT NULL,
    "TankId" character varying(50),
    "Density" double precision,
    "DistanceTraveled" double precision,
    "TimeUnderway" double precision,
    "CargoWeight" double precision,
    "Co2Emissions" double precision,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone NOT NULL,
    "OriginNode" character varying(50) NOT NULL
);


--
-- Name: FuelConsumptions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."FuelConsumptions" (
    "Id" uuid NOT NULL,
    "VesselId" uuid NOT NULL,
    "ReportDate" timestamp with time zone NOT NULL,
    "FuelConsumed" double precision NOT NULL,
    "FuelType" text NOT NULL,
    "DistanceTraveled" double precision NOT NULL,
    "AverageSpeed" double precision NOT NULL,
    "FuelEfficiency" double precision NOT NULL
);


--
-- Name: GeneratorData; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."GeneratorData" (
    "Id" uuid NOT NULL,
    "Timestamp" timestamp with time zone NOT NULL,
    "GeneratorId" character varying(50) NOT NULL,
    "IsRunning" boolean NOT NULL,
    "RunningHours" double precision,
    "LoadPercent" double precision,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone NOT NULL,
    "OriginNode" character varying(50) NOT NULL
);


--
-- Name: TABLE "GeneratorData"; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public."GeneratorData" IS 'Optimized - Removed electrical details, kept performance metrics only';


--
-- Name: MaintenanceTasks; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."MaintenanceTasks" (
    "Id" uuid NOT NULL,
    "Title" text NOT NULL,
    "Description" text NOT NULL,
    "ScheduledAt" timestamp with time zone NOT NULL,
    "ShipId" uuid NOT NULL
);


--
-- Name: MaritimeReports; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."MaritimeReports" (
    "Id" uuid NOT NULL,
    "ReportNumber" character varying(50) NOT NULL,
    "ReportTypeId" integer NOT NULL,
    "ReportDateTime" timestamp with time zone NOT NULL,
    "VoyageId" uuid,
    "Status" character varying(30) NOT NULL,
    "PreparedBy" character varying(100),
    "MasterSignature" character varying(100),
    "SignedAt" timestamp with time zone,
    "ReportData" text NOT NULL,
    "Remarks" text,
    "IsTransmitted" boolean NOT NULL,
    "TransmittedAt" timestamp with time zone,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone,
    "OriginNode" character varying(50) NOT NULL,
    "DeletedAt" timestamp with time zone,
    "DeletedBy" character varying(100),
    "DeletedReason" text
);


--
-- Name: NoonReports; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."NoonReports" (
    "Id" uuid NOT NULL,
    "MaritimeReportId" uuid NOT NULL,
    "ReportDate" timestamp with time zone NOT NULL,
    "Latitude" double precision,
    "Longitude" double precision,
    "CourseOverGround" double precision,
    "SpeedOverGround" double precision,
    "DistanceTraveled" double precision,
    "DistanceToGo" double precision,
    "EstimatedTimeOfArrival" timestamp with time zone,
    "WeatherConditions" character varying(50),
    "SeaState" character varying(20),
    "AirTemperature" double precision,
    "SeaTemperature" double precision,
    "BarometricPressure" double precision,
    "WindDirection" character varying(20),
    "WindSpeed" double precision,
    "Visibility" character varying(20),
    "FuelOilConsumed" double precision,
    "DieselOilConsumed" double precision,
    "LubOilConsumed" double precision,
    "FreshWaterConsumed" double precision,
    "FuelOilROB" double precision,
    "DieselOilROB" double precision,
    "LubOilROB" double precision,
    "FreshWaterROB" double precision,
    "MainEngineRunningHours" character varying(50),
    "MainEngineRPM" double precision,
    "MainEnginePower" double precision,
    "AuxEngineRunningHours" character varying(50),
    "CargoOnBoard" double precision,
    "CargoDescription" character varying(100),
    "OperationalRemarks" text,
    "MachineryRemarks" text,
    "CargoRemarks" text,
    "CreatedAt" timestamp with time zone NOT NULL
);


--
-- Name: PortCalls; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."PortCalls" (
    "Id" uuid NOT NULL,
    "VesselId" uuid NOT NULL,
    "PortCode" text NOT NULL,
    "PortName" text NOT NULL,
    "ArrivalTime" timestamp with time zone,
    "DepartureTime" timestamp with time zone,
    "PortFees" numeric(12,2) NOT NULL,
    "CargoQuantity" numeric(10,3),
    "CargoType" text NOT NULL,
    "Purpose" text NOT NULL
);


--
-- Name: PositionData; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."PositionData" (
    "Id" uuid NOT NULL,
    "Timestamp" timestamp with time zone NOT NULL,
    "Latitude" double precision NOT NULL,
    "Longitude" double precision NOT NULL,
    "SpeedOverGround" double precision,
    "CourseOverGround" double precision,
    "Source" character varying(20) NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone NOT NULL,
    "OriginNode" character varying(50) NOT NULL
);


--
-- Name: ReportTypes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."ReportTypes" (
    "Id" integer NOT NULL,
    "TypeCode" character varying(50) NOT NULL,
    "TypeName" character varying(100) NOT NULL,
    "Category" character varying(50) NOT NULL,
    "Description" text,
    "RegulationReference" character varying(100),
    "Frequency" character varying(30) NOT NULL,
    "IsMandatory" boolean NOT NULL,
    "RequiresMasterSignature" boolean NOT NULL,
    "TemplateSchema" text,
    "IsActive" boolean NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL
);


--
-- Name: ReportTypes_Id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public."ReportTypes" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."ReportTypes_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: SafetyAlarms; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."SafetyAlarms" (
    "Id" uuid NOT NULL,
    "Timestamp" timestamp with time zone NOT NULL,
    "AlarmType" character varying(50) NOT NULL,
    "AlarmCode" character varying(50),
    "Severity" character varying(20) NOT NULL,
    "Location" character varying(100),
    "Description" character varying(500),
    "IsAcknowledged" boolean NOT NULL,
    "AcknowledgedAt" timestamp with time zone,
    "AcknowledgedBy" character varying(100),
    "IsResolved" boolean NOT NULL,
    "ResolvedAt" timestamp with time zone,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone NOT NULL,
    "OriginNode" character varying(50) NOT NULL
);


--
-- Name: Ships; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Ships" (
    "Id" uuid NOT NULL,
    "Name" text NOT NULL,
    "IMO" text NOT NULL,
    "Capacity" integer NOT NULL
);


--
-- Name: TankLevels; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."TankLevels" (
    "Id" uuid NOT NULL,
    "Timestamp" timestamp with time zone NOT NULL,
    "TankId" character varying(50) NOT NULL,
    "TankType" character varying(20) NOT NULL,
    "LevelPercent" double precision NOT NULL,
    "VolumeLiters" double precision,
    "Temperature" double precision,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone NOT NULL,
    "OriginNode" character varying(50) NOT NULL
);


--
-- Name: Users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Users" (
    "Id" uuid NOT NULL,
    "Username" text NOT NULL,
    "PasswordHash" text NOT NULL,
    "Role" text NOT NULL
);


--
-- Name: VesselAlerts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."VesselAlerts" (
    "Id" uuid NOT NULL,
    "VesselId" uuid NOT NULL,
    "AlertType" text NOT NULL,
    "Message" text NOT NULL,
    "Severity" text NOT NULL,
    "Timestamp" timestamp with time zone NOT NULL,
    "IsAcknowledged" boolean NOT NULL,
    "AcknowledgedAt" timestamp with time zone,
    "AcknowledgedBy" text,
    "Data" text NOT NULL
);


--
-- Name: VesselPositions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."VesselPositions" (
    "Id" uuid NOT NULL,
    "VesselId" uuid NOT NULL,
    "Latitude" double precision NOT NULL,
    "Longitude" double precision NOT NULL,
    "Speed" double precision,
    "Course" double precision,
    "Timestamp" timestamp with time zone NOT NULL,
    "Source" text NOT NULL
);


--
-- Name: Vessels; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Vessels" (
    "Id" uuid NOT NULL,
    "IMO" text NOT NULL,
    "Name" text NOT NULL,
    "CallSign" text NOT NULL,
    "VesselType" text NOT NULL,
    "GrossTonnage" double precision NOT NULL,
    "DeadWeight" double precision NOT NULL,
    "BuildDate" timestamp with time zone NOT NULL,
    "Flag" text NOT NULL,
    "IsActive" boolean NOT NULL
);


--
-- Name: VoyageRecords; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."VoyageRecords" (
    "Id" uuid NOT NULL,
    "VoyageNumber" character varying(50) NOT NULL,
    "DeparturePort" character varying(50),
    "DepartureTime" timestamp with time zone,
    "ArrivalPort" character varying(50),
    "ArrivalTime" timestamp with time zone,
    "CargoType" character varying(100),
    "CargoWeight" double precision,
    "DistanceTraveled" double precision,
    "FuelConsumed" double precision,
    "AverageSpeed" double precision,
    "VoyageStatus" character varying(20) NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone NOT NULL,
    "OriginNode" character varying(50) NOT NULL
);


--
-- Name: __EFMigrationsHistory; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL
);


--
-- Name: certificates; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.certificates (
    "Id" integer NOT NULL,
    "CertificateCode" character varying(50) NOT NULL,
    "CertificateName" character varying(200) NOT NULL,
    "Category" character varying(50),
    "ValidityPeriodMonths" integer,
    "Description" text,
    "IsMandatory" boolean NOT NULL,
    "IsActive" boolean NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone NOT NULL
);


--
-- Name: certificates_Id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.certificates ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."certificates_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: countries; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.countries (
    "Id" integer NOT NULL,
    "CountryCode" character varying(3) NOT NULL,
    "CountryName" character varying(100) NOT NULL,
    "FlagImageUrl" character varying(255),
    "IsActive" boolean NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone NOT NULL
);


--
-- Name: countries_Id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.countries ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."countries_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: country_certificates; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.country_certificates (
    "Id" integer NOT NULL,
    "CountryId" integer NOT NULL,
    "CertificateId" integer NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone NOT NULL
);


--
-- Name: country_certificates_Id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.country_certificates ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."country_certificates_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: crew_certificates; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.crew_certificates (
    "Id" integer NOT NULL,
    "CrewMemberId" uuid NOT NULL,
    "CertificateId" integer NOT NULL,
    "CertificateNumber" character varying(100) NOT NULL,
    "IssueDate" timestamp with time zone NOT NULL,
    "ExpiryDate" timestamp with time zone NOT NULL,
    "IssuingAuthority" character varying(200),
    "CertificateOfCompetency" character varying(200),
    "CountryId" integer,
    "DocumentFilePath" character varying(500),
    "Status" character varying(20) NOT NULL,
    "Notes" text,
    "IsSynced" boolean NOT NULL,
    "OriginNode" character varying(50) NOT NULL,
    "SyncVersion" bigint NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone NOT NULL
);


--
-- Name: crew_certificates_Id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.crew_certificates ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."crew_certificates_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: crew_members; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.crew_members (
    "Id" uuid NOT NULL,
    "CrewId" character varying(50) NOT NULL,
    "FullName" character varying(200) NOT NULL,
    "RankId" integer,
    "Department" character varying(100),
    "Nationality" character varying(50),
    "DateOfBirth" timestamp with time zone,
    "JoinDate" timestamp with time zone,
    "EmbarkDate" timestamp with time zone,
    "DisembarkDate" timestamp with time zone,
    "ContractEnd" timestamp with time zone,
    "IsOnboard" boolean NOT NULL,
    "EmergencyContact" character varying(500),
    "EmailAddress" character varying(200),
    "PhoneNumber" character varying(50),
    "Address" character varying(500),
    "PlaceOfBirth" character varying(200),
    "IdCardNumber" character varying(50),
    "MaritalStatus" character varying(20),
    "Height" integer,
    "Weight" numeric(5,2),
    "BloodGroup" character varying(5),
    "ClothingSize" character varying(10),
    "ShoeSize" character varying(10),
    "CateringSize" character varying(10),
    "IsSmoker" boolean,
    "IsCovidVaccinated" boolean,
    "PhotoUrl" character varying(500),
    "NextOfKinName" character varying(200),
    "NextOfKinRelation" character varying(50),
    "NextOfKinPhone" character varying(50),
    "NextOfKinAddress" character varying(500),
    "EducationInstitution" character varying(300),
    "EducationCourse" character varying(200),
    "EducationPeriodYears" integer,
    "EducationGraduationYear" integer,
    "Notes" text,
    "IsSynced" boolean NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone NOT NULL,
    "OriginNode" character varying(50) NOT NULL,
    "SyncVersion" bigint NOT NULL
);


--
-- Name: employment_documents; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.employment_documents (
    "Id" uuid NOT NULL,
    "CrewMemberId" uuid NOT NULL,
    "DocumentType" character varying(50) NOT NULL,
    "DocumentNumber" character varying(100) NOT NULL,
    "IssueDate" timestamp with time zone,
    "ExpiryDate" timestamp with time zone,
    "FileUrl" character varying(500),
    "Notes" text,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone NOT NULL,
    "CountryId" integer
);


--
-- Name: health_documents; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.health_documents (
    "Id" uuid NOT NULL,
    "CrewMemberId" uuid NOT NULL,
    "DocumentType" character varying(50) NOT NULL,
    "DocumentNumber" character varying(100) NOT NULL,
    "IssueDate" timestamp with time zone,
    "ExpiryDate" timestamp with time zone,
    "FileUrl" character varying(500),
    "Notes" text,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone NOT NULL
);


--
-- Name: rank_certificates; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.rank_certificates (
    "Id" integer NOT NULL,
    "RankId" integer NOT NULL,
    "CertificateId" integer NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone NOT NULL
);


--
-- Name: rank_certificates_Id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.rank_certificates ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."rank_certificates_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ranks; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ranks (
    "Id" integer NOT NULL,
    "RankCode" character varying(10) NOT NULL,
    "RankName" character varying(100) NOT NULL,
    "Department" character varying(20) NOT NULL,
    "SortOrder" integer NOT NULL,
    "IsActive" boolean NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone NOT NULL
);


--
-- Name: ranks_Id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.ranks ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."ranks_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: seafarer_documents; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.seafarer_documents (
    "Id" uuid NOT NULL,
    "CrewMemberId" uuid NOT NULL,
    "DocumentType" character varying(50) NOT NULL,
    "DocumentNumber" character varying(100) NOT NULL,
    "IssueDate" timestamp with time zone,
    "ExpiryDate" timestamp with time zone,
    "FileUrl" character varying(500),
    "Notes" text,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone NOT NULL,
    "CountryId" integer
);


--
-- Name: service_records; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.service_records (
    "Id" uuid NOT NULL,
    "CrewMemberId" uuid NOT NULL,
    "VesselName" character varying(200) NOT NULL,
    "VesselFlag" character varying(50),
    "VesselType" character varying(50),
    "VesselGrt" numeric(12,2),
    "VesselDwt" numeric(12,2),
    "VesselYearBuilt" integer,
    "TradeArea" character varying(100),
    "MainEngineType" character varying(100),
    "MainEnginePowerKw" integer,
    "MainEngineMaker" character varying(100),
    "BoilerType" character varying(100),
    "HasExhaustGasScrubber" boolean,
    "Ecdis" character varying(100),
    "RankAtTime" character varying(100),
    "BoardingDate" timestamp with time zone NOT NULL,
    "DisembarkDate" timestamp with time zone,
    "BoardingPortCode" character varying(5),
    "BoardingPortName" character varying(150),
    "DisembarkPortCode" character varying(5),
    "DisembarkPortName" character varying(150),
    "BoardingRecords" text,
    "Notes" text,
    "IsSynced" boolean NOT NULL,
    "OriginNode" character varying(50) NOT NULL,
    "SyncVersion" bigint NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone NOT NULL,
    "CrewMemberId1" uuid
);


--
-- Name: sync_idempotency_records; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sync_idempotency_records (
    "Id" bigint NOT NULL,
    "IdempotencyKey" character varying(200) NOT NULL,
    "OriginNode" character varying(50) NOT NULL,
    "Status" character varying(20) NOT NULL,
    "ProcessedAt" timestamp with time zone NOT NULL
);


--
-- Name: sync_idempotency_records_Id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.sync_idempotency_records ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."sync_idempotency_records_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: sync_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sync_logs (
    "Id" bigint NOT NULL,
    "Direction" character varying(20) NOT NULL,
    "OriginNode" character varying(50) NOT NULL,
    "TableName" character varying(50) NOT NULL,
    "RecordKey" character varying(50) NOT NULL,
    "ActionType" character varying(10) NOT NULL,
    "Status" character varying(20) NOT NULL,
    "ConflictDetail" text,
    "ProcessedAt" timestamp with time zone NOT NULL
);


--
-- Name: sync_logs_Id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.sync_logs ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."sync_logs_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: sync_node_trackers; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sync_node_trackers (
    "Id" integer NOT NULL,
    "NodeId" character varying(50) NOT NULL,
    "ShipName" character varying(120),
    "ImoNumber" character varying(20),
    "LastPushAt" timestamp with time zone,
    "TotalReceivedCount" bigint NOT NULL,
    "LastPushBatchSize" integer NOT NULL,
    "LastReceivedVersion" bigint NOT NULL,
    "LastPullAt" timestamp with time zone,
    "TotalDeliveredCount" bigint NOT NULL,
    "PendingOutboxCount" integer NOT NULL,
    "LastAcknowledgedId" bigint NOT NULL,
    "LastHeartbeatAt" timestamp with time zone,
    "CurrentNetworkType" character varying(30),
    "IsOnline" boolean NOT NULL,
    "ConsecutiveFailures" integer NOT NULL,
    "LastError" character varying(500),
    "LastErrorAt" timestamp with time zone,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone NOT NULL
);


--
-- Name: sync_node_trackers_Id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.sync_node_trackers ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."sync_node_trackers_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: sync_outbox; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sync_outbox (
    "Id" bigint NOT NULL,
    "TargetNode" character varying(50) NOT NULL,
    "TableName" character varying(50) NOT NULL,
    "RecordKey" character varying(50) NOT NULL,
    "ActionType" integer NOT NULL,
    "Payload" text NOT NULL,
    "SyncVersion" bigint NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "DeliveredAt" timestamp with time zone
);


--
-- Name: sync_outbox_Id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.sync_outbox ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."sync_outbox_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: sync_table_stats; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sync_table_stats (
    "Id" integer NOT NULL,
    "NodeId" character varying(50) NOT NULL,
    "TableName" character varying(50) NOT NULL,
    "TotalSynced" bigint NOT NULL,
    "TotalConflicts" bigint NOT NULL,
    "TotalFailed" bigint NOT NULL,
    "LastSyncAt" timestamp with time zone,
    "SnapshotAt" timestamp with time zone NOT NULL
);


--
-- Name: sync_table_stats_Id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.sync_table_stats ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."sync_table_stats_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: travel_documents; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.travel_documents (
    "Id" uuid NOT NULL,
    "CrewMemberId" uuid NOT NULL,
    "DocumentType" character varying(50) NOT NULL,
    "DocumentNumber" character varying(100) NOT NULL,
    "IssueDate" timestamp with time zone,
    "ExpiryDate" timestamp with time zone,
    "FileUrl" character varying(500),
    "Notes" text,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone NOT NULL,
    "CountryId" integer
);


--
-- Data for Name: AisData; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."AisData" ("Id", "Timestamp", "Mmsi", "SpeedOverGround", "Latitude", "Longitude", "CourseOverGround", "ShipName", "Destination", "EtaMonth", "EtaDay", "EtaHour", "EtaMinute", "CreatedAt", "UpdatedAt", "OriginNode") FROM stdin;
\.


--
-- Data for Name: Certificates; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Certificates" ("Id", "VesselId", "CertificateType", "CertificateName", "IssuingAuthority", "IssueDate", "ExpiryDate", "CertificateNumber", "IsValid", "DocumentPath") FROM stdin;
\.


--
-- Data for Name: EngineData; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."EngineData" ("Id", "Timestamp", "EngineId", "FuelRate", "RunningHours", "AlarmStatus", "CreatedAt", "UpdatedAt", "OriginNode") FROM stdin;
\.


--
-- Data for Name: FuelConsumptionData; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."FuelConsumptionData" ("Id", "Timestamp", "FuelType", "ConsumedVolume", "ConsumedMass", "TankId", "Density", "DistanceTraveled", "TimeUnderway", "CargoWeight", "Co2Emissions", "CreatedAt", "UpdatedAt", "OriginNode") FROM stdin;
\.


--
-- Data for Name: FuelConsumptions; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."FuelConsumptions" ("Id", "VesselId", "ReportDate", "FuelConsumed", "FuelType", "DistanceTraveled", "AverageSpeed", "FuelEfficiency") FROM stdin;
\.


--
-- Data for Name: GeneratorData; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."GeneratorData" ("Id", "Timestamp", "GeneratorId", "IsRunning", "RunningHours", "LoadPercent", "CreatedAt", "UpdatedAt", "OriginNode") FROM stdin;
\.


--
-- Data for Name: MaintenanceTasks; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."MaintenanceTasks" ("Id", "Title", "Description", "ScheduledAt", "ShipId") FROM stdin;
\.


--
-- Data for Name: MaritimeReports; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."MaritimeReports" ("Id", "ReportNumber", "ReportTypeId", "ReportDateTime", "VoyageId", "Status", "PreparedBy", "MasterSignature", "SignedAt", "ReportData", "Remarks", "IsTransmitted", "TransmittedAt", "CreatedAt", "UpdatedAt", "OriginNode", "DeletedAt", "DeletedBy", "DeletedReason") FROM stdin;
\.


--
-- Data for Name: NoonReports; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: PortCalls; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."PortCalls" ("Id", "VesselId", "PortCode", "PortName", "ArrivalTime", "DepartureTime", "PortFees", "CargoQuantity", "CargoType", "Purpose") FROM stdin;
\.


--
-- Data for Name: PositionData; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: ReportTypes; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."ReportTypes" ("Id", "TypeCode", "TypeName", "Category", "Description", "RegulationReference", "Frequency", "IsMandatory", "RequiresMasterSignature", "TemplateSchema", "IsActive", "CreatedAt") FROM stdin;
\.


--
-- Data for Name: SafetyAlarms; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."SafetyAlarms" ("Id", "Timestamp", "AlarmType", "AlarmCode", "Severity", "Location", "Description", "IsAcknowledged", "AcknowledgedAt", "AcknowledgedBy", "IsResolved", "ResolvedAt", "CreatedAt", "UpdatedAt", "OriginNode") FROM stdin;
\.


--
-- Data for Name: Ships; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Ships" ("Id", "Name", "IMO", "Capacity") FROM stdin;
\.


--
-- Data for Name: TankLevels; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."TankLevels" ("Id", "Timestamp", "TankId", "TankType", "LevelPercent", "VolumeLiters", "Temperature", "CreatedAt", "UpdatedAt", "OriginNode") FROM stdin;
\.


--
-- Data for Name: Users; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Users" ("Id", "Username", "PasswordHash", "Role") FROM stdin;
\.


--
-- Data for Name: VesselAlerts; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."VesselAlerts" ("Id", "VesselId", "AlertType", "Message", "Severity", "Timestamp", "IsAcknowledged", "AcknowledgedAt", "AcknowledgedBy", "Data") FROM stdin;
\.


--
-- Data for Name: VesselPositions; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."VesselPositions" ("Id", "VesselId", "Latitude", "Longitude", "Speed", "Course", "Timestamp", "Source") FROM stdin;
\.


--
-- Data for Name: Vessels; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Vessels" ("Id", "IMO", "Name", "CallSign", "VesselType", "GrossTonnage", "DeadWeight", "BuildDate", "Flag", "IsActive") FROM stdin;
\.


--
-- Data for Name: VoyageRecords; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."VoyageRecords" ("Id", "VoyageNumber", "DeparturePort", "DepartureTime", "ArrivalPort", "ArrivalTime", "CargoType", "CargoWeight", "DistanceTraveled", "FuelConsumed", "AverageSpeed", "VoyageStatus", "CreatedAt", "UpdatedAt", "OriginNode") FROM stdin;
\.


--
-- Data for Name: __EFMigrationsHistory; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."__EFMigrationsHistory" ("MigrationId", "ProductVersion") FROM stdin;
20251124135354_InitialSyncSchema	8.0.0
20260303130455_AddCrewAndSyncTables	8.0.0
20260303143511_AddSyncTrackingInfrastructure	8.0.0
\.


--
-- Data for Name: certificates; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.certificates ("Id", "CertificateCode", "CertificateName", "Category", "ValidityPeriodMonths", "Description", "IsMandatory", "IsActive", "CreatedAt", "UpdatedAt") FROM stdin;
\.


--
-- Data for Name: countries; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.countries ("Id", "CountryCode", "CountryName", "FlagImageUrl", "IsActive", "CreatedAt", "UpdatedAt") FROM stdin;
\.


--
-- Data for Name: country_certificates; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.country_certificates ("Id", "CountryId", "CertificateId", "CreatedAt", "UpdatedAt") FROM stdin;
\.


--
-- Data for Name: crew_certificates; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.crew_certificates ("Id", "CrewMemberId", "CertificateId", "CertificateNumber", "IssueDate", "ExpiryDate", "IssuingAuthority", "CertificateOfCompetency", "CountryId", "DocumentFilePath", "Status", "Notes", "IsSynced", "OriginNode", "SyncVersion", "CreatedAt", "UpdatedAt") FROM stdin;
\.


--
-- Data for Name: crew_members; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: employment_documents; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.employment_documents ("Id", "CrewMemberId", "DocumentType", "DocumentNumber", "IssueDate", "ExpiryDate", "FileUrl", "Notes", "CreatedAt", "UpdatedAt", "CountryId") FROM stdin;
\.


--
-- Data for Name: health_documents; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.health_documents ("Id", "CrewMemberId", "DocumentType", "DocumentNumber", "IssueDate", "ExpiryDate", "FileUrl", "Notes", "CreatedAt", "UpdatedAt") FROM stdin;
\.


--
-- Data for Name: rank_certificates; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.rank_certificates ("Id", "RankId", "CertificateId", "CreatedAt", "UpdatedAt") FROM stdin;
\.


--
-- Data for Name: ranks; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.ranks ("Id", "RankCode", "RankName", "Department", "SortOrder", "IsActive", "CreatedAt", "UpdatedAt") FROM stdin;
\.


--
-- Data for Name: seafarer_documents; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.seafarer_documents ("Id", "CrewMemberId", "DocumentType", "DocumentNumber", "IssueDate", "ExpiryDate", "FileUrl", "Notes", "CreatedAt", "UpdatedAt", "CountryId") FROM stdin;
\.


--
-- Data for Name: service_records; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.service_records ("Id", "CrewMemberId", "VesselName", "VesselFlag", "VesselType", "VesselGrt", "VesselDwt", "VesselYearBuilt", "TradeArea", "MainEngineType", "MainEnginePowerKw", "MainEngineMaker", "BoilerType", "HasExhaustGasScrubber", "Ecdis", "RankAtTime", "BoardingDate", "DisembarkDate", "BoardingPortCode", "BoardingPortName", "DisembarkPortCode", "DisembarkPortName", "BoardingRecords", "Notes", "IsSynced", "OriginNode", "SyncVersion", "CreatedAt", "UpdatedAt", "CrewMemberId1") FROM stdin;
\.


--
-- Data for Name: sync_idempotency_records; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.sync_idempotency_records ("Id", "IdempotencyKey", "OriginNode", "Status", "ProcessedAt") FROM stdin;
\.


--
-- Data for Name: sync_logs; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: sync_node_trackers; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.sync_node_trackers ("Id", "NodeId", "ShipName", "ImoNumber", "LastPushAt", "TotalReceivedCount", "LastPushBatchSize", "LastReceivedVersion", "LastPullAt", "TotalDeliveredCount", "PendingOutboxCount", "LastAcknowledgedId", "LastHeartbeatAt", "CurrentNetworkType", "IsOnline", "ConsecutiveFailures", "LastError", "LastErrorAt", "CreatedAt", "UpdatedAt") FROM stdin;
1	9876543	\N	\N	2026-03-03 14:36:25.283937+00	8	8	0	\N	0	0	0	2026-03-03 14:36:25.283986+00	\N	f	0	\N	\N	2026-03-03 14:36:25.233527+00	2026-03-04 00:28:27.59722+00
\.


--
-- Data for Name: sync_outbox; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.sync_outbox ("Id", "TargetNode", "TableName", "RecordKey", "ActionType", "Payload", "SyncVersion", "CreatedAt", "DeliveredAt") FROM stdin;
\.


--
-- Data for Name: sync_table_stats; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.sync_table_stats ("Id", "NodeId", "TableName", "TotalSynced", "TotalConflicts", "TotalFailed", "LastSyncAt", "SnapshotAt") FROM stdin;
3	9876543	position_data	68	0	0	2026-03-03 14:36:25.1404+00	2026-03-04 00:28:27.751841+00
\.


--
-- Data for Name: travel_documents; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.travel_documents ("Id", "CrewMemberId", "DocumentType", "DocumentNumber", "IssueDate", "ExpiryDate", "FileUrl", "Notes", "CreatedAt", "UpdatedAt", "CountryId") FROM stdin;
\.


--
-- Name: ReportTypes_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."ReportTypes_Id_seq"', 1, false);


--
-- Name: certificates_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."certificates_Id_seq"', 1, false);


--
-- Name: countries_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."countries_Id_seq"', 1, false);


--
-- Name: country_certificates_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."country_certificates_Id_seq"', 1, false);


--
-- Name: crew_certificates_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."crew_certificates_Id_seq"', 1, false);


--
-- Name: rank_certificates_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."rank_certificates_Id_seq"', 1, false);


--
-- Name: ranks_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."ranks_Id_seq"', 1, false);


--
-- Name: sync_idempotency_records_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."sync_idempotency_records_Id_seq"', 1, false);


--
-- Name: sync_logs_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."sync_logs_Id_seq"', 68, true);


--
-- Name: sync_node_trackers_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."sync_node_trackers_Id_seq"', 1, true);


--
-- Name: sync_outbox_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."sync_outbox_Id_seq"', 1, false);


--
-- Name: sync_table_stats_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."sync_table_stats_Id_seq"', 3, true);


--
-- Name: AisData PK_AisData; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."AisData"
    ADD CONSTRAINT "PK_AisData" PRIMARY KEY ("Id");


--
-- Name: Certificates PK_Certificates; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Certificates"
    ADD CONSTRAINT "PK_Certificates" PRIMARY KEY ("Id");


--
-- Name: EngineData PK_EngineData; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."EngineData"
    ADD CONSTRAINT "PK_EngineData" PRIMARY KEY ("Id");


--
-- Name: FuelConsumptionData PK_FuelConsumptionData; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."FuelConsumptionData"
    ADD CONSTRAINT "PK_FuelConsumptionData" PRIMARY KEY ("Id");


--
-- Name: FuelConsumptions PK_FuelConsumptions; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."FuelConsumptions"
    ADD CONSTRAINT "PK_FuelConsumptions" PRIMARY KEY ("Id");


--
-- Name: GeneratorData PK_GeneratorData; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."GeneratorData"
    ADD CONSTRAINT "PK_GeneratorData" PRIMARY KEY ("Id");


--
-- Name: MaintenanceTasks PK_MaintenanceTasks; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."MaintenanceTasks"
    ADD CONSTRAINT "PK_MaintenanceTasks" PRIMARY KEY ("Id");


--
-- Name: MaritimeReports PK_MaritimeReports; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."MaritimeReports"
    ADD CONSTRAINT "PK_MaritimeReports" PRIMARY KEY ("Id");


--
-- Name: NoonReports PK_NoonReports; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."NoonReports"
    ADD CONSTRAINT "PK_NoonReports" PRIMARY KEY ("Id");


--
-- Name: PortCalls PK_PortCalls; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."PortCalls"
    ADD CONSTRAINT "PK_PortCalls" PRIMARY KEY ("Id");


--
-- Name: PositionData PK_PositionData; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."PositionData"
    ADD CONSTRAINT "PK_PositionData" PRIMARY KEY ("Id");


--
-- Name: ReportTypes PK_ReportTypes; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ReportTypes"
    ADD CONSTRAINT "PK_ReportTypes" PRIMARY KEY ("Id");


--
-- Name: SafetyAlarms PK_SafetyAlarms; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."SafetyAlarms"
    ADD CONSTRAINT "PK_SafetyAlarms" PRIMARY KEY ("Id");


--
-- Name: Ships PK_Ships; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Ships"
    ADD CONSTRAINT "PK_Ships" PRIMARY KEY ("Id");


--
-- Name: TankLevels PK_TankLevels; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."TankLevels"
    ADD CONSTRAINT "PK_TankLevels" PRIMARY KEY ("Id");


--
-- Name: Users PK_Users; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "PK_Users" PRIMARY KEY ("Id");


--
-- Name: VesselAlerts PK_VesselAlerts; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."VesselAlerts"
    ADD CONSTRAINT "PK_VesselAlerts" PRIMARY KEY ("Id");


--
-- Name: VesselPositions PK_VesselPositions; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."VesselPositions"
    ADD CONSTRAINT "PK_VesselPositions" PRIMARY KEY ("Id");


--
-- Name: Vessels PK_Vessels; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Vessels"
    ADD CONSTRAINT "PK_Vessels" PRIMARY KEY ("Id");


--
-- Name: VoyageRecords PK_VoyageRecords; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."VoyageRecords"
    ADD CONSTRAINT "PK_VoyageRecords" PRIMARY KEY ("Id");


--
-- Name: __EFMigrationsHistory PK___EFMigrationsHistory; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."__EFMigrationsHistory"
    ADD CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId");


--
-- Name: certificates PK_certificates; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.certificates
    ADD CONSTRAINT "PK_certificates" PRIMARY KEY ("Id");


--
-- Name: countries PK_countries; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.countries
    ADD CONSTRAINT "PK_countries" PRIMARY KEY ("Id");


--
-- Name: country_certificates PK_country_certificates; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.country_certificates
    ADD CONSTRAINT "PK_country_certificates" PRIMARY KEY ("Id");


--
-- Name: crew_certificates PK_crew_certificates; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.crew_certificates
    ADD CONSTRAINT "PK_crew_certificates" PRIMARY KEY ("Id");


--
-- Name: crew_members PK_crew_members; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.crew_members
    ADD CONSTRAINT "PK_crew_members" PRIMARY KEY ("Id");


--
-- Name: employment_documents PK_employment_documents; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.employment_documents
    ADD CONSTRAINT "PK_employment_documents" PRIMARY KEY ("Id");


--
-- Name: health_documents PK_health_documents; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.health_documents
    ADD CONSTRAINT "PK_health_documents" PRIMARY KEY ("Id");


--
-- Name: rank_certificates PK_rank_certificates; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.rank_certificates
    ADD CONSTRAINT "PK_rank_certificates" PRIMARY KEY ("Id");


--
-- Name: ranks PK_ranks; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ranks
    ADD CONSTRAINT "PK_ranks" PRIMARY KEY ("Id");


--
-- Name: seafarer_documents PK_seafarer_documents; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.seafarer_documents
    ADD CONSTRAINT "PK_seafarer_documents" PRIMARY KEY ("Id");


--
-- Name: service_records PK_service_records; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.service_records
    ADD CONSTRAINT "PK_service_records" PRIMARY KEY ("Id");


--
-- Name: sync_idempotency_records PK_sync_idempotency_records; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sync_idempotency_records
    ADD CONSTRAINT "PK_sync_idempotency_records" PRIMARY KEY ("Id");


--
-- Name: sync_logs PK_sync_logs; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sync_logs
    ADD CONSTRAINT "PK_sync_logs" PRIMARY KEY ("Id");


--
-- Name: sync_node_trackers PK_sync_node_trackers; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sync_node_trackers
    ADD CONSTRAINT "PK_sync_node_trackers" PRIMARY KEY ("Id");


--
-- Name: sync_outbox PK_sync_outbox; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sync_outbox
    ADD CONSTRAINT "PK_sync_outbox" PRIMARY KEY ("Id");


--
-- Name: sync_table_stats PK_sync_table_stats; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sync_table_stats
    ADD CONSTRAINT "PK_sync_table_stats" PRIMARY KEY ("Id");


--
-- Name: travel_documents PK_travel_documents; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.travel_documents
    ADD CONSTRAINT "PK_travel_documents" PRIMARY KEY ("Id");


--
-- Name: IX_Certificates_CertificateNumber; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "IX_Certificates_CertificateNumber" ON public."Certificates" USING btree ("CertificateNumber");


--
-- Name: IX_Certificates_VesselId_ExpiryDate; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_Certificates_VesselId_ExpiryDate" ON public."Certificates" USING btree ("VesselId", "ExpiryDate");


--
-- Name: IX_FuelConsumptions_VesselId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_FuelConsumptions_VesselId" ON public."FuelConsumptions" USING btree ("VesselId");


--
-- Name: IX_PortCalls_VesselId_ArrivalTime; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_PortCalls_VesselId_ArrivalTime" ON public."PortCalls" USING btree ("VesselId", "ArrivalTime");


--
-- Name: IX_VesselAlerts_IsAcknowledged; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_VesselAlerts_IsAcknowledged" ON public."VesselAlerts" USING btree ("IsAcknowledged");


--
-- Name: IX_VesselAlerts_VesselId_Timestamp; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_VesselAlerts_VesselId_Timestamp" ON public."VesselAlerts" USING btree ("VesselId", "Timestamp");


--
-- Name: IX_VesselPositions_VesselId_Timestamp; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_VesselPositions_VesselId_Timestamp" ON public."VesselPositions" USING btree ("VesselId", "Timestamp");


--
-- Name: IX_Vessels_IMO; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "IX_Vessels_IMO" ON public."Vessels" USING btree ("IMO");


--
-- Name: IX_certificates_CertificateCode; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "IX_certificates_CertificateCode" ON public.certificates USING btree ("CertificateCode");


--
-- Name: IX_countries_CountryCode; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "IX_countries_CountryCode" ON public.countries USING btree ("CountryCode");


--
-- Name: IX_country_certificates_CertificateId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_country_certificates_CertificateId" ON public.country_certificates USING btree ("CertificateId");


--
-- Name: IX_country_certificates_CountryId_CertificateId; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "IX_country_certificates_CountryId_CertificateId" ON public.country_certificates USING btree ("CountryId", "CertificateId");


--
-- Name: IX_crew_certificates_CertificateId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_crew_certificates_CertificateId" ON public.crew_certificates USING btree ("CertificateId");


--
-- Name: IX_crew_certificates_CountryId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_crew_certificates_CountryId" ON public.crew_certificates USING btree ("CountryId");


--
-- Name: IX_crew_certificates_CrewMemberId_CertificateId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_crew_certificates_CrewMemberId_CertificateId" ON public.crew_certificates USING btree ("CrewMemberId", "CertificateId");


--
-- Name: IX_crew_certificates_ExpiryDate; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_crew_certificates_ExpiryDate" ON public.crew_certificates USING btree ("ExpiryDate");


--
-- Name: IX_crew_certificates_IsSynced; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_crew_certificates_IsSynced" ON public.crew_certificates USING btree ("IsSynced");


--
-- Name: IX_crew_members_CrewId; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "IX_crew_members_CrewId" ON public.crew_members USING btree ("CrewId");


--
-- Name: IX_crew_members_FullName; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_crew_members_FullName" ON public.crew_members USING btree ("FullName");


--
-- Name: IX_crew_members_IsOnboard; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_crew_members_IsOnboard" ON public.crew_members USING btree ("IsOnboard");


--
-- Name: IX_crew_members_IsSynced; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_crew_members_IsSynced" ON public.crew_members USING btree ("IsSynced");


--
-- Name: IX_crew_members_RankId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_crew_members_RankId" ON public.crew_members USING btree ("RankId");


--
-- Name: IX_employment_documents_CountryId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_employment_documents_CountryId" ON public.employment_documents USING btree ("CountryId");


--
-- Name: IX_employment_documents_CrewMemberId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_employment_documents_CrewMemberId" ON public.employment_documents USING btree ("CrewMemberId");


--
-- Name: IX_health_documents_CrewMemberId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_health_documents_CrewMemberId" ON public.health_documents USING btree ("CrewMemberId");


--
-- Name: IX_rank_certificates_CertificateId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_rank_certificates_CertificateId" ON public.rank_certificates USING btree ("CertificateId");


--
-- Name: IX_rank_certificates_RankId_CertificateId; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "IX_rank_certificates_RankId_CertificateId" ON public.rank_certificates USING btree ("RankId", "CertificateId");


--
-- Name: IX_ranks_RankCode; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "IX_ranks_RankCode" ON public.ranks USING btree ("RankCode");


--
-- Name: IX_seafarer_documents_CountryId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_seafarer_documents_CountryId" ON public.seafarer_documents USING btree ("CountryId");


--
-- Name: IX_seafarer_documents_CrewMemberId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_seafarer_documents_CrewMemberId" ON public.seafarer_documents USING btree ("CrewMemberId");


--
-- Name: IX_service_records_CrewMemberId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_service_records_CrewMemberId" ON public.service_records USING btree ("CrewMemberId");


--
-- Name: IX_service_records_CrewMemberId1; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_service_records_CrewMemberId1" ON public.service_records USING btree ("CrewMemberId1");


--
-- Name: IX_service_records_IsSynced; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_service_records_IsSynced" ON public.service_records USING btree ("IsSynced");


--
-- Name: IX_sync_idempotency_records_IdempotencyKey; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "IX_sync_idempotency_records_IdempotencyKey" ON public.sync_idempotency_records USING btree ("IdempotencyKey");


--
-- Name: IX_sync_idempotency_records_ProcessedAt; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_sync_idempotency_records_ProcessedAt" ON public.sync_idempotency_records USING btree ("ProcessedAt");


--
-- Name: IX_sync_logs_OriginNode; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_sync_logs_OriginNode" ON public.sync_logs USING btree ("OriginNode");


--
-- Name: IX_sync_logs_ProcessedAt; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_sync_logs_ProcessedAt" ON public.sync_logs USING btree ("ProcessedAt");


--
-- Name: IX_sync_node_trackers_IsOnline; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_sync_node_trackers_IsOnline" ON public.sync_node_trackers USING btree ("IsOnline");


--
-- Name: IX_sync_node_trackers_NodeId; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "IX_sync_node_trackers_NodeId" ON public.sync_node_trackers USING btree ("NodeId");


--
-- Name: IX_sync_outbox_DeliveredAt; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_sync_outbox_DeliveredAt" ON public.sync_outbox USING btree ("DeliveredAt");


--
-- Name: IX_sync_outbox_TableName_RecordKey; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_sync_outbox_TableName_RecordKey" ON public.sync_outbox USING btree ("TableName", "RecordKey");


--
-- Name: IX_sync_table_stats_NodeId_TableName; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_sync_table_stats_NodeId_TableName" ON public.sync_table_stats USING btree ("NodeId", "TableName");


--
-- Name: IX_travel_documents_CountryId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_travel_documents_CountryId" ON public.travel_documents USING btree ("CountryId");


--
-- Name: IX_travel_documents_CrewMemberId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_travel_documents_CrewMemberId" ON public.travel_documents USING btree ("CrewMemberId");


--
-- Name: Certificates FK_Certificates_Vessels_VesselId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Certificates"
    ADD CONSTRAINT "FK_Certificates_Vessels_VesselId" FOREIGN KEY ("VesselId") REFERENCES public."Vessels"("Id") ON DELETE CASCADE;


--
-- Name: FuelConsumptions FK_FuelConsumptions_Vessels_VesselId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."FuelConsumptions"
    ADD CONSTRAINT "FK_FuelConsumptions_Vessels_VesselId" FOREIGN KEY ("VesselId") REFERENCES public."Vessels"("Id") ON DELETE CASCADE;


--
-- Name: PortCalls FK_PortCalls_Vessels_VesselId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."PortCalls"
    ADD CONSTRAINT "FK_PortCalls_Vessels_VesselId" FOREIGN KEY ("VesselId") REFERENCES public."Vessels"("Id") ON DELETE CASCADE;


--
-- Name: VesselAlerts FK_VesselAlerts_Vessels_VesselId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."VesselAlerts"
    ADD CONSTRAINT "FK_VesselAlerts_Vessels_VesselId" FOREIGN KEY ("VesselId") REFERENCES public."Vessels"("Id") ON DELETE CASCADE;


--
-- Name: VesselPositions FK_VesselPositions_Vessels_VesselId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."VesselPositions"
    ADD CONSTRAINT "FK_VesselPositions_Vessels_VesselId" FOREIGN KEY ("VesselId") REFERENCES public."Vessels"("Id") ON DELETE CASCADE;


--
-- Name: country_certificates FK_country_certificates_certificates_CertificateId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.country_certificates
    ADD CONSTRAINT "FK_country_certificates_certificates_CertificateId" FOREIGN KEY ("CertificateId") REFERENCES public.certificates("Id") ON DELETE CASCADE;


--
-- Name: country_certificates FK_country_certificates_countries_CountryId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.country_certificates
    ADD CONSTRAINT "FK_country_certificates_countries_CountryId" FOREIGN KEY ("CountryId") REFERENCES public.countries("Id") ON DELETE CASCADE;


--
-- Name: crew_certificates FK_crew_certificates_certificates_CertificateId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.crew_certificates
    ADD CONSTRAINT "FK_crew_certificates_certificates_CertificateId" FOREIGN KEY ("CertificateId") REFERENCES public.certificates("Id") ON DELETE RESTRICT;


--
-- Name: crew_certificates FK_crew_certificates_countries_CountryId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.crew_certificates
    ADD CONSTRAINT "FK_crew_certificates_countries_CountryId" FOREIGN KEY ("CountryId") REFERENCES public.countries("Id") ON DELETE SET NULL;


--
-- Name: crew_certificates FK_crew_certificates_crew_members_CrewMemberId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.crew_certificates
    ADD CONSTRAINT "FK_crew_certificates_crew_members_CrewMemberId" FOREIGN KEY ("CrewMemberId") REFERENCES public.crew_members("Id") ON DELETE CASCADE;


--
-- Name: crew_members FK_crew_members_ranks_RankId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.crew_members
    ADD CONSTRAINT "FK_crew_members_ranks_RankId" FOREIGN KEY ("RankId") REFERENCES public.ranks("Id") ON DELETE SET NULL;


--
-- Name: employment_documents FK_employment_documents_countries_CountryId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.employment_documents
    ADD CONSTRAINT "FK_employment_documents_countries_CountryId" FOREIGN KEY ("CountryId") REFERENCES public.countries("Id") ON DELETE SET NULL;


--
-- Name: employment_documents FK_employment_documents_crew_members_CrewMemberId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.employment_documents
    ADD CONSTRAINT "FK_employment_documents_crew_members_CrewMemberId" FOREIGN KEY ("CrewMemberId") REFERENCES public.crew_members("Id") ON DELETE CASCADE;


--
-- Name: health_documents FK_health_documents_crew_members_CrewMemberId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.health_documents
    ADD CONSTRAINT "FK_health_documents_crew_members_CrewMemberId" FOREIGN KEY ("CrewMemberId") REFERENCES public.crew_members("Id") ON DELETE CASCADE;


--
-- Name: rank_certificates FK_rank_certificates_certificates_CertificateId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.rank_certificates
    ADD CONSTRAINT "FK_rank_certificates_certificates_CertificateId" FOREIGN KEY ("CertificateId") REFERENCES public.certificates("Id") ON DELETE CASCADE;


--
-- Name: rank_certificates FK_rank_certificates_ranks_RankId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.rank_certificates
    ADD CONSTRAINT "FK_rank_certificates_ranks_RankId" FOREIGN KEY ("RankId") REFERENCES public.ranks("Id") ON DELETE CASCADE;


--
-- Name: seafarer_documents FK_seafarer_documents_countries_CountryId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.seafarer_documents
    ADD CONSTRAINT "FK_seafarer_documents_countries_CountryId" FOREIGN KEY ("CountryId") REFERENCES public.countries("Id") ON DELETE SET NULL;


--
-- Name: seafarer_documents FK_seafarer_documents_crew_members_CrewMemberId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.seafarer_documents
    ADD CONSTRAINT "FK_seafarer_documents_crew_members_CrewMemberId" FOREIGN KEY ("CrewMemberId") REFERENCES public.crew_members("Id") ON DELETE CASCADE;


--
-- Name: service_records FK_service_records_crew_members_CrewMemberId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.service_records
    ADD CONSTRAINT "FK_service_records_crew_members_CrewMemberId" FOREIGN KEY ("CrewMemberId") REFERENCES public.crew_members("Id") ON DELETE CASCADE;


--
-- Name: service_records FK_service_records_crew_members_CrewMemberId1; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.service_records
    ADD CONSTRAINT "FK_service_records_crew_members_CrewMemberId1" FOREIGN KEY ("CrewMemberId1") REFERENCES public.crew_members("Id");


--
-- Name: travel_documents FK_travel_documents_countries_CountryId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.travel_documents
    ADD CONSTRAINT "FK_travel_documents_countries_CountryId" FOREIGN KEY ("CountryId") REFERENCES public.countries("Id") ON DELETE SET NULL;


--
-- Name: travel_documents FK_travel_documents_crew_members_CrewMemberId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.travel_documents
    ADD CONSTRAINT "FK_travel_documents_crew_members_CrewMemberId" FOREIGN KEY ("CrewMemberId") REFERENCES public.crew_members("Id") ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict rbrgeLYCMUwGCqB8T7hrKSS7P3x0Acc2NfQlcJxSopy3kIbwo3K1xfdbfDRSLUb

