--
-- PostgreSQL database dump
--

\restrict ddDgDJd9or2wOBBwBwZSDlBx6tN3wOVxmQcM48gwl9tFvnn0Ci9WGwcu31fMOWY

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON SCHEMA public IS 'Maritime Edge Server data storage';


--
-- Name: btree_gist; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS btree_gist WITH SCHEMA public;


--
-- Name: EXTENSION btree_gist; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION btree_gist IS 'support for indexing common datatypes in GiST';


--
-- Name: pg_trgm; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_trgm WITH SCHEMA public;


--
-- Name: EXTENSION pg_trgm; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION pg_trgm IS 'text similarity measurement and index searching based on trigrams';


--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$;


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: __EFMigrationsHistory; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL
);


--
-- Name: ais_data; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ais_data (
    "timestamp" timestamp with time zone NOT NULL,
    mmsi character varying(9) NOT NULL,
    message_type integer NOT NULL,
    navigation_status integer,
    rate_of_turn numeric(6,2),
    speed_over_ground numeric(5,2),
    position_accuracy boolean,
    latitude numeric(10,7),
    longitude numeric(10,7),
    course_over_ground numeric(5,2),
    true_heading integer,
    imo_number character varying(7),
    call_sign character varying(7),
    ship_name character varying(120),
    ship_type integer,
    dimension_bow integer,
    dimension_stern integer,
    dimension_port integer,
    dimension_starboard integer,
    eta_month integer,
    eta_day integer,
    eta_hour integer,
    eta_minute integer,
    draught numeric(4,2),
    destination character varying(120),
    is_synced boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    origin_node character varying(50) DEFAULT 'SHIP_01'::character varying,
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: arrival_reports; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.arrival_reports (
    port_name character varying(100) NOT NULL,
    port_code character varying(10),
    arrival_date_time timestamp with time zone NOT NULL,
    pilot_on_board_time timestamp with time zone,
    first_line_ashore_time timestamp with time zone,
    arrival_latitude double precision,
    arrival_longitude double precision,
    voyage_distance double precision,
    voyage_duration double precision,
    average_speed double precision,
    draft_forward double precision,
    draft_aft double precision,
    draft_midship double precision,
    fuel_oil_r_o_b double precision,
    diesel_oil_r_o_b double precision,
    lub_oil_r_o_b double precision,
    fresh_water_r_o_b double precision,
    total_fuel_consumed double precision,
    total_diesel_consumed double precision,
    cargo_on_board double precision,
    cargo_description character varying(200),
    crew_on_board integer,
    passengers_on_board integer,
    remarks text,
    created_at timestamp with time zone NOT NULL,
    voyage_id uuid,
    maritime_report_id uuid,
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    origin_node character varying(50) DEFAULT 'SHIP_01'::character varying,
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: bunker_reports; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.bunker_reports (
    bunker_date timestamp with time zone NOT NULL,
    port_name character varying(100) NOT NULL,
    port_code character varying(10),
    supplier_name character varying(200) NOT NULL,
    b_d_n_number character varying(50) NOT NULL,
    fuel_type character varying(20) NOT NULL,
    fuel_grade character varying(50),
    quantity_received double precision NOT NULL,
    density double precision,
    sulphur_content double precision,
    viscosity double precision,
    flash_point double precision,
    r_o_b_before double precision,
    r_o_b_after double precision,
    tanks_loaded character varying(200),
    seal_numbers character varying(200),
    chief_engineer_signature character varying(100),
    remarks text,
    created_at timestamp with time zone NOT NULL,
    maritime_report_id uuid,
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    origin_node character varying(50) DEFAULT 'SHIP_01'::character varying,
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: cargo_operations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cargo_operations (
    operation_id character varying(50) NOT NULL,
    operation_type character varying(20) NOT NULL,
    cargo_type character varying(100) NOT NULL,
    cargo_description text,
    quantity numeric(15,3) NOT NULL,
    unit character varying(20) NOT NULL,
    loading_port character varying(100),
    discharge_port character varying(100),
    loaded_at timestamp with time zone,
    discharged_at timestamp with time zone,
    shipper character varying(200),
    consignee character varying(200),
    bill_of_lading character varying(100),
    seal_numbers character varying(500),
    special_requirements text,
    status character varying(20) NOT NULL,
    is_synced boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    voyage_id uuid,
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    origin_node character varying(50) DEFAULT 'SHIP_01'::character varying,
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: crew_members; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.crew_members (
    crew_id character varying(50) NOT NULL,
    full_name character varying(200) NOT NULL,
    "position" character varying(100) NOT NULL,
    rank character varying(50),
    certificate_number character varying(100),
    certificate_expiry timestamp with time zone,
    medical_expiry timestamp with time zone,
    nationality character varying(50),
    passport_number character varying(50),
    date_of_birth timestamp with time zone,
    embark_date timestamp with time zone,
    disembark_date timestamp with time zone,
    is_onboard boolean NOT NULL,
    emergency_contact character varying(500),
    email_address character varying(200),
    phone_number character varying(50),
    is_synced boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    address character varying(500),
    certificate_issue timestamp with time zone,
    contract_end timestamp with time zone,
    department character varying(100),
    join_date timestamp with time zone,
    medical_issue timestamp with time zone,
    notes text,
    passport_expiry timestamp with time zone,
    seaman_book_number character varying(100),
    visa_expiry timestamp with time zone,
    visa_number character varying(50),
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    origin_node character varying(50) DEFAULT 'SHIP_01'::character varying,
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: departure_reports; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.departure_reports (
    port_name character varying(100) NOT NULL,
    port_code character varying(10),
    departure_date_time timestamp with time zone NOT NULL,
    pilot_on_board_time timestamp with time zone,
    last_line_ashore_time timestamp with time zone,
    departure_latitude double precision,
    departure_longitude double precision,
    next_port character varying(100),
    next_port_code character varying(10),
    estimated_time_of_arrival timestamp with time zone,
    distance_to_next_port double precision,
    draft_forward double precision,
    draft_aft double precision,
    draft_midship double precision,
    fuel_oil_r_o_b double precision,
    diesel_oil_r_o_b double precision,
    lub_oil_r_o_b double precision,
    fresh_water_r_o_b double precision,
    cargo_on_board double precision,
    cargo_description character varying(200),
    crew_on_board integer,
    passengers_on_board integer,
    remarks text,
    created_at timestamp with time zone NOT NULL,
    voyage_id uuid,
    maritime_report_id uuid,
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    origin_node character varying(50) DEFAULT 'SHIP_01'::character varying,
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: engine_data; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.engine_data (
    "timestamp" timestamp with time zone NOT NULL,
    engine_id character varying(50) NOT NULL,
    rpm numeric(6,2),
    load_percent numeric(5,2),
    coolant_temp numeric(5,2),
    exhaust_temp numeric(6,2),
    lube_oil_pressure numeric(5,2),
    lube_oil_temp numeric(5,2),
    fuel_pressure numeric(5,2),
    fuel_rate numeric(8,2),
    running_hours numeric(10,2),
    start_count integer,
    alarm_status integer,
    is_synced boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    origin_node character varying(50) DEFAULT 'SHIP_01'::character varying,
    updated_at timestamp without time zone DEFAULT now()
)
WITH (autovacuum_vacuum_scale_factor='0.05');


--
-- Name: environmental_data; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.environmental_data (
    "timestamp" timestamp with time zone NOT NULL,
    air_temperature numeric(5,2),
    barometric_pressure numeric(7,2),
    humidity numeric(5,2),
    sea_temperature numeric(5,2),
    wind_speed numeric(5,2),
    wind_direction numeric(5,2),
    wave_height numeric(5,2),
    visibility numeric(5,2),
    is_synced boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    origin_node character varying(50) DEFAULT 'SHIP_01'::character varying,
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: fuel_analytics_summaries; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.fuel_analytics_summaries (
    id bigint NOT NULL,
    period_type character varying(20) NOT NULL,
    period_start timestamp with time zone NOT NULL,
    period_end timestamp with time zone NOT NULL,
    distance_nautical_miles numeric(12,2) NOT NULL,
    time_underway_hours numeric(10,2) NOT NULL,
    time_berth_hours numeric(10,2) NOT NULL,
    average_speed_knots numeric(5,2) NOT NULL,
    total_fuel_consumed_m_t numeric(10,3) NOT NULL,
    main_engine_fuel_m_t numeric(10,3) NOT NULL,
    auxiliary_fuel_m_t numeric(10,3) NOT NULL,
    boiler_fuel_m_t numeric(10,3) NOT NULL,
    e_e_o_i numeric(10,2),
    fuel_per_nautical_mile numeric(8,4) NOT NULL,
    fuel_per_hour numeric(8,4) NOT NULL,
    s_f_o_c numeric(8,2),
    c_o2_emissions_m_t numeric(12,3) NOT NULL,
    c_i_i numeric(10,2),
    c_i_i_rating character varying(1),
    avg_main_engine_r_p_m numeric(6,2),
    avg_main_engine_load numeric(5,2),
    avg_sea_state numeric(3,1),
    avg_wind_speed numeric(5,2),
    cargo_weight_m_t numeric(12,3),
    estimated_fuel_cost_u_s_d numeric(15,2),
    fuel_price_per_m_t numeric(10,2),
    voyage_id character varying(50),
    data_points_count integer NOT NULL,
    data_quality_score numeric(5,2) NOT NULL,
    is_synced boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone
);


--
-- Name: fuel_analytics_summaries_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.fuel_analytics_summaries ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.fuel_analytics_summaries_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: fuel_consumption; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.fuel_consumption (
    "timestamp" timestamp with time zone NOT NULL,
    fuel_type character varying(20) NOT NULL,
    consumed_volume numeric(10,3) NOT NULL,
    consumed_mass numeric(10,3) NOT NULL,
    tank_id character varying(50),
    density numeric(6,2),
    distance_traveled numeric(10,2),
    time_underway numeric(8,2),
    cargo_weight numeric(12,3),
    co2_emissions numeric(10,3),
    is_synced boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    origin_node character varying(50) DEFAULT 'SHIP_01'::character varying,
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: fuel_efficiency_alerts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.fuel_efficiency_alerts (
    id bigint NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    alert_type character varying(50) NOT NULL,
    severity character varying(20) NOT NULL,
    message character varying(500) NOT NULL,
    current_value numeric(10,3) NOT NULL,
    expected_value numeric(10,3) NOT NULL,
    deviation_percent numeric(6,2) NOT NULL,
    recommended_action character varying(1000),
    is_acknowledged boolean NOT NULL,
    acknowledged_at timestamp with time zone,
    acknowledged_by character varying(100),
    is_resolved boolean NOT NULL,
    resolved_at timestamp with time zone,
    is_synced boolean NOT NULL
);


--
-- Name: fuel_efficiency_alerts_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.fuel_efficiency_alerts ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.fuel_efficiency_alerts_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: generator_data; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.generator_data (
    "timestamp" timestamp with time zone NOT NULL,
    generator_id character varying(50) NOT NULL,
    is_running boolean NOT NULL,
    voltage numeric(6,2),
    frequency numeric(5,2),
    current numeric(8,2),
    active_power numeric(8,2),
    power_factor numeric(4,3),
    running_hours numeric(10,2),
    load_percent numeric(5,2),
    is_synced boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    origin_node character varying(50) DEFAULT 'SHIP_01'::character varying,
    updated_at timestamp without time zone DEFAULT now()
)
WITH (autovacuum_vacuum_scale_factor='0.05');


--
-- Name: maintenance_task_details; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.maintenance_task_details (
    task_detail_id bigint NOT NULL,
    status character varying(20) NOT NULL,
    is_completed boolean NOT NULL,
    measured_value numeric(10,3),
    check_result boolean,
    notes text,
    photo_url character varying(500),
    signature_url character varying(500),
    completed_by character varying(100),
    completed_at timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    "TaskDetailId1" bigint,
    task_type_id integer,
    maintenance_task_id uuid,
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    origin_node character varying(50) DEFAULT 'SHIP_01'::character varying,
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: maintenance_tasks; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.maintenance_tasks (
    task_id character varying(50) NOT NULL,
    equipment_id character varying(100) NOT NULL,
    equipment_name character varying(200) NOT NULL,
    task_type character varying(50) NOT NULL,
    task_description text NOT NULL,
    interval_hours numeric(10,2),
    interval_days integer,
    last_done_at timestamp with time zone,
    next_due_at timestamp with time zone NOT NULL,
    running_hours_at_last_done numeric(10,2),
    priority character varying(20) NOT NULL,
    status character varying(20) NOT NULL,
    assigned_to character varying(100),
    completed_at timestamp with time zone,
    completed_by character varying(100),
    notes text,
    spare_parts_used character varying(500),
    is_synced boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    started_at timestamp with time zone,
    task_type_id integer,
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    origin_node character varying(50) DEFAULT 'SHIP_01'::character varying,
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: maritime_reports; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.maritime_reports (
    report_number character varying(50) NOT NULL,
    report_type_id integer NOT NULL,
    report_date_time timestamp with time zone NOT NULL,
    status character varying(30) NOT NULL,
    prepared_by character varying(100),
    master_signature character varying(100),
    signed_at timestamp with time zone,
    report_data text NOT NULL,
    remarks text,
    is_transmitted boolean NOT NULL,
    transmitted_at timestamp with time zone,
    is_synced boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone,
    deleted_at timestamp with time zone,
    deleted_by character varying(100),
    deleted_reason text,
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    origin_node character varying(50) DEFAULT 'SHIP_01'::character varying,
    voyage_id uuid
);


--
-- Name: material_categories; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.material_categories (
    id bigint NOT NULL,
    category_code character varying(50) NOT NULL,
    name character varying(200) NOT NULL,
    description text,
    parent_category_id bigint,
    is_active boolean NOT NULL,
    is_synced boolean NOT NULL,
    created_at timestamp with time zone NOT NULL
);


--
-- Name: material_categories_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.material_categories ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.material_categories_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: material_items; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.material_items (
    item_code character varying(50) NOT NULL,
    name character varying(200) NOT NULL,
    category_id bigint NOT NULL,
    specification text,
    unit character varying(20) NOT NULL,
    on_hand_quantity numeric(14,3) NOT NULL,
    min_stock numeric(14,3),
    max_stock numeric(14,3),
    reorder_level numeric(14,3),
    reorder_quantity numeric(14,3),
    location character varying(100),
    manufacturer character varying(100),
    supplier character varying(200),
    part_number character varying(100),
    barcode character varying(50),
    batch_tracked boolean NOT NULL,
    serial_tracked boolean NOT NULL,
    expiry_required boolean NOT NULL,
    unit_cost numeric(18,2),
    currency character varying(3),
    notes text,
    is_active boolean NOT NULL,
    is_synced boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    origin_node character varying(50) DEFAULT 'SHIP_01'::character varying,
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: monthly_summary_reports; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.monthly_summary_reports (
    id bigint NOT NULL,
    report_number character varying(50) NOT NULL,
    month integer NOT NULL,
    year integer NOT NULL,
    month_start_date timestamp with time zone NOT NULL,
    month_end_date timestamp with time zone NOT NULL,
    total_distance double precision NOT NULL,
    average_speed double precision NOT NULL,
    total_steaming_days double precision NOT NULL,
    total_port_days double precision NOT NULL,
    voyages_completed integer NOT NULL,
    total_fuel_oil_consumed double precision NOT NULL,
    total_diesel_oil_consumed double precision NOT NULL,
    total_fuel_cost double precision,
    average_fuel_per_day double precision NOT NULL,
    fuel_efficiency double precision NOT NULL,
    total_bunker_operations integer NOT NULL,
    total_fuel_bunkered double precision NOT NULL,
    total_maintenance_completed integer NOT NULL,
    total_maintenance_hours double precision NOT NULL,
    overdue_maintenance_tasks integer NOT NULL,
    safety_drills_conducted integer NOT NULL,
    safety_incidents integer NOT NULL,
    near_miss_incidents integer NOT NULL,
    total_port_calls integer NOT NULL,
    ports_visited character varying(1000),
    total_cargo_loaded double precision NOT NULL,
    total_cargo_discharged double precision NOT NULL,
    average_cargo_on_board double precision NOT NULL,
    total_reports_submitted integer NOT NULL,
    noon_reports_submitted integer NOT NULL,
    departure_reports_submitted integer NOT NULL,
    arrival_reports_submitted integer NOT NULL,
    status character varying(20) NOT NULL,
    prepared_by character varying(100),
    master_signature character varying(100),
    signed_at timestamp with time zone,
    remarks text,
    is_transmitted boolean NOT NULL,
    transmitted_at timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone
);


--
-- Name: monthly_summary_reports_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.monthly_summary_reports ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.monthly_summary_reports_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: navigation_data; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.navigation_data (
    "timestamp" timestamp with time zone NOT NULL,
    heading_true numeric(5,2),
    heading_magnetic numeric(5,2),
    rate_of_turn numeric(6,2),
    pitch numeric(5,2),
    roll numeric(5,2),
    speed_through_water numeric(5,2),
    depth numeric(8,2),
    wind_speed_relative numeric(5,2),
    wind_direction_relative numeric(5,2),
    wind_speed_true numeric(5,2),
    wind_direction_true numeric(5,2),
    is_synced boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    origin_node character varying(50) DEFAULT 'SHIP_01'::character varying,
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: nmea_raw_data; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.nmea_raw_data (
    id bigint NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    sentence_type character varying(10) NOT NULL,
    raw_sentence character varying(512) NOT NULL,
    checksum_valid boolean NOT NULL,
    device_source character varying(50),
    is_synced boolean NOT NULL
);


--
-- Name: nmea_raw_data_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.nmea_raw_data ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.nmea_raw_data_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: noon_reports; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.noon_reports (
    report_date timestamp with time zone NOT NULL,
    latitude double precision,
    longitude double precision,
    course_over_ground double precision,
    speed_over_ground double precision,
    distance_traveled double precision,
    distance_to_go double precision,
    estimated_time_of_arrival timestamp with time zone,
    weather_conditions character varying(50),
    sea_state character varying(20),
    air_temperature double precision,
    sea_temperature double precision,
    barometric_pressure double precision,
    wind_direction character varying(20),
    wind_speed double precision,
    visibility character varying(20),
    fuel_oil_consumed double precision,
    diesel_oil_consumed double precision,
    lub_oil_consumed double precision,
    fresh_water_consumed double precision,
    fuel_oil_r_o_b double precision,
    diesel_oil_r_o_b double precision,
    lub_oil_r_o_b double precision,
    fresh_water_r_o_b double precision,
    main_engine_running_hours character varying(50),
    main_engine_r_p_m double precision,
    main_engine_power double precision,
    aux_engine_running_hours character varying(50),
    cargo_on_board double precision,
    cargo_description character varying(100),
    operational_remarks text,
    machinery_remarks text,
    cargo_remarks text,
    created_at timestamp with time zone NOT NULL,
    maritime_report_id uuid,
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    origin_node character varying(50) DEFAULT 'SHIP_01'::character varying,
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: oil_record_books; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.oil_record_books (
    entry_date timestamp with time zone NOT NULL,
    operation_code character varying(10) NOT NULL,
    operation_description text NOT NULL,
    location_lat numeric(10,7),
    location_lon numeric(10,7),
    quantity numeric(10,3),
    quantity_unit character varying(20),
    tank_from character varying(50),
    tank_to character varying(50),
    officer_in_charge character varying(100) NOT NULL,
    master_signature character varying(200),
    remarks text,
    is_synced boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    origin_node character varying(50) DEFAULT 'SHIP_01'::character varying,
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: position_data; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.position_data (
    "timestamp" timestamp with time zone NOT NULL,
    latitude numeric(10,7) NOT NULL,
    longitude numeric(10,7) NOT NULL,
    altitude numeric(8,2),
    speed_over_ground numeric(5,2),
    course_over_ground numeric(5,2),
    magnetic_variation double precision,
    fix_quality integer NOT NULL,
    satellites_used integer NOT NULL,
    hdop numeric(4,2),
    source character varying(20) NOT NULL,
    is_synced boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    origin_node character varying(50) DEFAULT 'SHIP_01'::character varying,
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: COLUMN position_data.latitude; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.position_data.latitude IS 'Latitude in decimal degrees (-90 to +90)';


--
-- Name: COLUMN position_data.longitude; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.position_data.longitude IS 'Longitude in decimal degrees (-180 to +180)';


--
-- Name: COLUMN position_data.altitude; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.position_data.altitude IS 'Altitude in meters above MSL';


--
-- Name: COLUMN position_data.speed_over_ground; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.position_data.speed_over_ground IS 'Speed in knots';


--
-- Name: COLUMN position_data.course_over_ground; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.position_data.course_over_ground IS 'Course in degrees true';


--
-- Name: position_reports; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.position_reports (
    report_date_time timestamp with time zone NOT NULL,
    latitude double precision NOT NULL,
    longitude double precision NOT NULL,
    course_over_ground double precision,
    speed_over_ground double precision,
    report_reason character varying(50) NOT NULL,
    last_port character varying(100),
    next_port character varying(100),
    e_t_a timestamp with time zone,
    cargo_on_board double precision,
    crew_on_board integer,
    remarks text,
    created_at timestamp with time zone NOT NULL,
    maritime_report_id uuid,
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    origin_node character varying(50) DEFAULT 'SHIP_01'::character varying,
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: report_amendments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.report_amendments (
    amendment_number integer NOT NULL,
    amendment_reason text NOT NULL,
    corrected_fields text NOT NULL,
    amended_report_data text,
    amended_by character varying(100) NOT NULL,
    status character varying(20) NOT NULL,
    master_signature character varying(100),
    signed_at timestamp with time zone,
    is_transmitted boolean NOT NULL,
    transmitted_at timestamp with time zone,
    remarks text,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone,
    original_report_id uuid,
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    origin_node character varying(50) DEFAULT 'SHIP_01'::character varying
);


--
-- Name: report_attachments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.report_attachments (
    file_name character varying(255) NOT NULL,
    file_type character varying(100) NOT NULL,
    mime_type character varying(50),
    file_size bigint NOT NULL,
    file_path text NOT NULL,
    description character varying(500),
    uploaded_by character varying(100),
    is_synced boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    maritime_report_id uuid,
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    origin_node character varying(50) DEFAULT 'SHIP_01'::character varying,
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: report_distributions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.report_distributions (
    id bigint NOT NULL,
    report_type_id integer NOT NULL,
    recipient_type character varying(50) NOT NULL,
    recipient_name character varying(200) NOT NULL,
    email_addresses character varying(500),
    fax_number character varying(50),
    delivery_method character varying(30) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL
);


--
-- Name: report_distributions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.report_distributions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.report_distributions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: report_transmission_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.report_transmission_logs (
    transmission_date_time timestamp with time zone NOT NULL,
    transmission_method character varying(30) NOT NULL,
    recipients character varying(1000),
    status character varying(30) NOT NULL,
    error_message text,
    retry_count integer NOT NULL,
    confirmation_number character varying(100),
    created_at timestamp with time zone NOT NULL,
    maritime_report_id uuid,
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    origin_node character varying(50) DEFAULT 'SHIP_01'::character varying,
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: report_types; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.report_types (
    id integer NOT NULL,
    type_code character varying(50) NOT NULL,
    type_name character varying(100) NOT NULL,
    category character varying(50) NOT NULL,
    description text,
    regulation_reference character varying(100),
    frequency character varying(30) NOT NULL,
    is_mandatory boolean NOT NULL,
    requires_master_signature boolean NOT NULL,
    template_schema text,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL
);


--
-- Name: report_types_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.report_types ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.report_types_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: report_workflow_histories; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.report_workflow_histories (
    from_status character varying(20) NOT NULL,
    to_status character varying(20) NOT NULL,
    changed_by character varying(100) NOT NULL,
    changed_at timestamp with time zone NOT NULL,
    remarks text,
    ip_address character varying(50),
    user_agent character varying(200),
    maritime_report_id uuid,
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    origin_node character varying(50) DEFAULT 'SHIP_01'::character varying,
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: roles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.roles (
    id integer NOT NULL,
    role_code character varying(50) NOT NULL,
    role_name character varying(100) NOT NULL,
    description text,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL
);


--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.roles ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.roles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: safety_alarms; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.safety_alarms (
    "timestamp" timestamp with time zone NOT NULL,
    alarm_type character varying(50) NOT NULL,
    alarm_code character varying(50),
    severity character varying(20) NOT NULL,
    location character varying(100),
    description character varying(500),
    is_acknowledged boolean NOT NULL,
    acknowledged_at timestamp with time zone,
    acknowledged_by character varying(100),
    is_resolved boolean NOT NULL,
    resolved_at timestamp with time zone,
    is_synced boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    origin_node character varying(50) DEFAULT 'SHIP_01'::character varying,
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: sync_queue; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sync_queue (
    id bigint NOT NULL,
    table_name character varying(50) NOT NULL,
    record_key character varying(50) NOT NULL,
    payload text NOT NULL,
    priority integer NOT NULL,
    retry_count integer NOT NULL,
    max_retries integer NOT NULL,
    next_retry_at timestamp with time zone,
    last_error character varying(500),
    created_at timestamp with time zone NOT NULL,
    synced_at timestamp with time zone,
    action_type integer DEFAULT 0
);


--
-- Name: COLUMN sync_queue.priority; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.sync_queue.priority IS '1=Critical, 2=Operational, 3=Low';


--
-- Name: sync_queue_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.sync_queue ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.sync_queue_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tank_levels; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.tank_levels (
    "timestamp" timestamp with time zone NOT NULL,
    tank_id character varying(50) NOT NULL,
    tank_type character varying(20) NOT NULL,
    level_percent numeric(5,2) NOT NULL,
    volume_liters numeric(10,2),
    temperature numeric(5,2),
    is_synced boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    origin_node character varying(50) DEFAULT 'SHIP_01'::character varying,
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: task_details; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.task_details (
    id bigint NOT NULL,
    task_type_id integer,
    detail_name character varying(200) NOT NULL,
    description text,
    order_index integer NOT NULL,
    detail_type character varying(20) NOT NULL,
    is_mandatory boolean NOT NULL,
    unit character varying(50),
    min_value numeric(10,3),
    max_value numeric(10,3),
    requires_photo boolean NOT NULL,
    requires_signature boolean NOT NULL,
    instructions text,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL
);


--
-- Name: task_details_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.task_details ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.task_details_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: task_type_task_details; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.task_type_task_details (
    "TaskTypeId" integer NOT NULL,
    "TaskDetailId" bigint NOT NULL
);


--
-- Name: task_types; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.task_types (
    id integer NOT NULL,
    type_code character varying(100) NOT NULL,
    type_name character varying(200) NOT NULL,
    description text,
    category character varying(50) NOT NULL,
    default_priority character varying(20) NOT NULL,
    estimated_duration_hours integer,
    required_certification character varying(200),
    requires_approval boolean NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone
);


--
-- Name: task_types_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.task_types ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.task_types_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    username character varying(50) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role_id integer NOT NULL,
    crew_id character varying(50),
    is_active boolean NOT NULL,
    last_login_at timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone
);


--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: voyage_records; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.voyage_records (
    voyage_number character varying(50) NOT NULL,
    departure_port character varying(50),
    departure_time timestamp with time zone,
    arrival_port character varying(50),
    arrival_time timestamp with time zone,
    cargo_type character varying(100),
    cargo_weight numeric(12,3),
    distance_traveled numeric(10,2),
    fuel_consumed numeric(10,3),
    average_speed numeric(5,2),
    voyage_status character varying(20) NOT NULL,
    is_synced boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    origin_node character varying(50) DEFAULT 'SHIP_01'::character varying,
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: watchkeeping_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.watchkeeping_logs (
    watch_date timestamp with time zone NOT NULL,
    watch_period character varying(20) NOT NULL,
    watch_type character varying(20) NOT NULL,
    officer_on_watch character varying(100) NOT NULL,
    lookout character varying(100),
    weather_conditions text,
    sea_state character varying(50),
    visibility character varying(50),
    course_logged numeric(5,2),
    speed_logged numeric(5,2),
    position_lat numeric(10,7),
    position_lon numeric(10,7),
    distance_run numeric(8,2),
    engine_status character varying(200),
    notable_events text,
    master_signature character varying(200),
    is_synced boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    origin_node character varying(50) DEFAULT 'SHIP_01'::character varying,
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: weekly_performance_reports; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.weekly_performance_reports (
    id bigint NOT NULL,
    report_number character varying(50) NOT NULL,
    week_number integer NOT NULL,
    year integer NOT NULL,
    week_start_date timestamp with time zone NOT NULL,
    week_end_date timestamp with time zone NOT NULL,
    voyage_id bigint,
    total_distance double precision NOT NULL,
    average_speed double precision NOT NULL,
    total_steaming_hours double precision NOT NULL,
    total_port_hours double precision NOT NULL,
    total_fuel_oil_consumed double precision NOT NULL,
    total_diesel_oil_consumed double precision NOT NULL,
    average_fuel_per_day double precision NOT NULL,
    fuel_efficiency double precision NOT NULL,
    fuel_oil_r_o_b double precision NOT NULL,
    diesel_oil_r_o_b double precision NOT NULL,
    total_maintenance_tasks_completed integer NOT NULL,
    total_maintenance_hours double precision NOT NULL,
    critical_issues integer NOT NULL,
    safety_incidents integer NOT NULL,
    port_calls integer NOT NULL,
    total_cargo_loaded double precision NOT NULL,
    total_cargo_discharged double precision NOT NULL,
    status character varying(20) NOT NULL,
    prepared_by character varying(100),
    master_signature character varying(100),
    signed_at timestamp with time zone,
    remarks text,
    is_transmitted boolean NOT NULL,
    transmitted_at timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone
);


--
-- Name: weekly_performance_reports_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.weekly_performance_reports ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.weekly_performance_reports_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: crew_members AK_crew_members_crew_id; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.crew_members
    ADD CONSTRAINT "AK_crew_members_crew_id" UNIQUE (crew_id);


--
-- Name: __EFMigrationsHistory PK___EFMigrationsHistory; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."__EFMigrationsHistory"
    ADD CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId");


--
-- Name: task_type_task_details PK_task_type_task_details; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.task_type_task_details
    ADD CONSTRAINT "PK_task_type_task_details" PRIMARY KEY ("TaskTypeId", "TaskDetailId");


--
-- Name: ais_data ais_data_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ais_data
    ADD CONSTRAINT ais_data_pkey PRIMARY KEY (id);


--
-- Name: arrival_reports arrival_reports_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.arrival_reports
    ADD CONSTRAINT arrival_reports_pkey PRIMARY KEY (id);


--
-- Name: bunker_reports bunker_reports_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.bunker_reports
    ADD CONSTRAINT bunker_reports_pkey PRIMARY KEY (id);


--
-- Name: cargo_operations cargo_operations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cargo_operations
    ADD CONSTRAINT cargo_operations_pkey PRIMARY KEY (id);


--
-- Name: crew_members crew_members_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.crew_members
    ADD CONSTRAINT crew_members_pkey PRIMARY KEY (id);


--
-- Name: departure_reports departure_reports_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.departure_reports
    ADD CONSTRAINT departure_reports_pkey PRIMARY KEY (id);


--
-- Name: engine_data engine_data_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.engine_data
    ADD CONSTRAINT engine_data_pkey PRIMARY KEY (id);


--
-- Name: environmental_data environmental_data_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.environmental_data
    ADD CONSTRAINT environmental_data_pkey PRIMARY KEY (id);


--
-- Name: fuel_consumption fuel_consumption_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.fuel_consumption
    ADD CONSTRAINT fuel_consumption_pkey PRIMARY KEY (id);


--
-- Name: generator_data generator_data_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.generator_data
    ADD CONSTRAINT generator_data_pkey PRIMARY KEY (id);


--
-- Name: maintenance_task_details maintenance_task_details_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.maintenance_task_details
    ADD CONSTRAINT maintenance_task_details_pkey PRIMARY KEY (id);


--
-- Name: maintenance_tasks maintenance_tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.maintenance_tasks
    ADD CONSTRAINT maintenance_tasks_pkey PRIMARY KEY (id);


--
-- Name: maritime_reports maritime_reports_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.maritime_reports
    ADD CONSTRAINT maritime_reports_pkey PRIMARY KEY (id);


--
-- Name: material_items material_items_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.material_items
    ADD CONSTRAINT material_items_pkey PRIMARY KEY (id);


--
-- Name: navigation_data navigation_data_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.navigation_data
    ADD CONSTRAINT navigation_data_pkey PRIMARY KEY (id);


--
-- Name: noon_reports noon_reports_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.noon_reports
    ADD CONSTRAINT noon_reports_pkey PRIMARY KEY (id);


--
-- Name: oil_record_books oil_record_books_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.oil_record_books
    ADD CONSTRAINT oil_record_books_pkey PRIMARY KEY (id);


--
-- Name: fuel_analytics_summaries p_k_fuel_analytics_summaries; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.fuel_analytics_summaries
    ADD CONSTRAINT p_k_fuel_analytics_summaries PRIMARY KEY (id);


--
-- Name: fuel_efficiency_alerts p_k_fuel_efficiency_alerts; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.fuel_efficiency_alerts
    ADD CONSTRAINT p_k_fuel_efficiency_alerts PRIMARY KEY (id);


--
-- Name: material_categories p_k_material_categories; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.material_categories
    ADD CONSTRAINT p_k_material_categories PRIMARY KEY (id);


--
-- Name: monthly_summary_reports p_k_monthly_summary_reports; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.monthly_summary_reports
    ADD CONSTRAINT p_k_monthly_summary_reports PRIMARY KEY (id);


--
-- Name: nmea_raw_data p_k_nmea_raw_data; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.nmea_raw_data
    ADD CONSTRAINT p_k_nmea_raw_data PRIMARY KEY (id);


--
-- Name: report_distributions p_k_report_distributions; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.report_distributions
    ADD CONSTRAINT p_k_report_distributions PRIMARY KEY (id);


--
-- Name: report_types p_k_report_types; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.report_types
    ADD CONSTRAINT p_k_report_types PRIMARY KEY (id);


--
-- Name: roles p_k_roles; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT p_k_roles PRIMARY KEY (id);


--
-- Name: sync_queue p_k_sync_queue; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sync_queue
    ADD CONSTRAINT p_k_sync_queue PRIMARY KEY (id);


--
-- Name: task_details p_k_task_details; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.task_details
    ADD CONSTRAINT p_k_task_details PRIMARY KEY (id);


--
-- Name: task_types p_k_task_types; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.task_types
    ADD CONSTRAINT p_k_task_types PRIMARY KEY (id);


--
-- Name: users p_k_users; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT p_k_users PRIMARY KEY (id);


--
-- Name: weekly_performance_reports p_k_weekly_performance_reports; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.weekly_performance_reports
    ADD CONSTRAINT p_k_weekly_performance_reports PRIMARY KEY (id);


--
-- Name: position_data position_data_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.position_data
    ADD CONSTRAINT position_data_pkey PRIMARY KEY (id);


--
-- Name: position_reports position_reports_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.position_reports
    ADD CONSTRAINT position_reports_pkey PRIMARY KEY (id);


--
-- Name: report_amendments report_amendments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.report_amendments
    ADD CONSTRAINT report_amendments_pkey PRIMARY KEY (id);


--
-- Name: report_attachments report_attachments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.report_attachments
    ADD CONSTRAINT report_attachments_pkey PRIMARY KEY (id);


--
-- Name: report_transmission_logs report_transmission_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.report_transmission_logs
    ADD CONSTRAINT report_transmission_logs_pkey PRIMARY KEY (id);


--
-- Name: report_workflow_histories report_workflow_histories_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.report_workflow_histories
    ADD CONSTRAINT report_workflow_histories_pkey PRIMARY KEY (id);


--
-- Name: safety_alarms safety_alarms_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.safety_alarms
    ADD CONSTRAINT safety_alarms_pkey PRIMARY KEY (id);


--
-- Name: tank_levels tank_levels_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tank_levels
    ADD CONSTRAINT tank_levels_pkey PRIMARY KEY (id);


--
-- Name: voyage_records voyage_records_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.voyage_records
    ADD CONSTRAINT voyage_records_pkey PRIMARY KEY (id);


--
-- Name: watchkeeping_logs watchkeeping_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.watchkeeping_logs
    ADD CONSTRAINT watchkeeping_logs_pkey PRIMARY KEY (id);


--
-- Name: IX_maintenance_task_details_TaskDetailId1; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_maintenance_task_details_TaskDetailId1" ON public.maintenance_task_details USING btree ("TaskDetailId1");


--
-- Name: IX_maintenance_task_details_task_type_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_maintenance_task_details_task_type_id" ON public.maintenance_task_details USING btree (task_type_id);


--
-- Name: idx_ais_message_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_ais_message_type ON public.ais_data USING btree (message_type);


--
-- Name: idx_ais_mmsi_timestamp; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_ais_mmsi_timestamp ON public.ais_data USING btree (mmsi, "timestamp");


--
-- Name: idx_ais_synced; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_ais_synced ON public.ais_data USING btree (is_synced) WHERE (is_synced = false);


--
-- Name: idx_alarm_synced; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_alarm_synced ON public.safety_alarms USING btree (is_synced) WHERE (is_synced = false);


--
-- Name: idx_alarm_timestamp; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_alarm_timestamp ON public.safety_alarms USING btree ("timestamp" DESC);


--
-- Name: idx_alarm_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_alarm_type ON public.safety_alarms USING btree (alarm_type);


--
-- Name: idx_alarm_unresolved_severity; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_alarm_unresolved_severity ON public.safety_alarms USING btree (is_resolved, severity) WHERE (is_resolved = false);


--
-- Name: idx_arrival_datetime; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_arrival_datetime ON public.arrival_reports USING btree (arrival_date_time DESC);


--
-- Name: idx_arrival_port; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_arrival_port ON public.arrival_reports USING btree (port_name);


--
-- Name: idx_attachment_synced; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_attachment_synced ON public.report_attachments USING btree (is_synced) WHERE (is_synced = false);


--
-- Name: idx_bunker_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_bunker_date ON public.bunker_reports USING btree (bunker_date DESC);


--
-- Name: idx_bunker_port; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_bunker_port ON public.bunker_reports USING btree (port_name);


--
-- Name: idx_cargo_bol; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_cargo_bol ON public.cargo_operations USING btree (bill_of_lading);


--
-- Name: idx_cargo_operation_id_unique; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX idx_cargo_operation_id_unique ON public.cargo_operations USING btree (operation_id);


--
-- Name: idx_cargo_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_cargo_status ON public.cargo_operations USING btree (status);


--
-- Name: idx_cargo_synced; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_cargo_synced ON public.cargo_operations USING btree (is_synced) WHERE (is_synced = false);


--
-- Name: idx_cargo_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_cargo_type ON public.cargo_operations USING btree (cargo_type);


--
-- Name: idx_crew_cert_expiry; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_crew_cert_expiry ON public.crew_members USING btree (certificate_expiry);


--
-- Name: idx_crew_id_unique; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX idx_crew_id_unique ON public.crew_members USING btree (crew_id);


--
-- Name: idx_crew_onboard; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_crew_onboard ON public.crew_members USING btree (is_onboard) WHERE (is_onboard = true);


--
-- Name: idx_crew_position; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_crew_position ON public.crew_members USING btree ("position");


--
-- Name: idx_crew_synced; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_crew_synced ON public.crew_members USING btree (is_synced) WHERE (is_synced = false);


--
-- Name: idx_departure_datetime; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_departure_datetime ON public.departure_reports USING btree (departure_date_time DESC);


--
-- Name: idx_departure_port; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_departure_port ON public.departure_reports USING btree (port_name);


--
-- Name: idx_distribution_active; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_distribution_active ON public.report_distributions USING btree (is_active) WHERE (is_active = true);


--
-- Name: idx_distribution_recipient_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_distribution_recipient_type ON public.report_distributions USING btree (recipient_type);


--
-- Name: idx_distribution_report_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_distribution_report_type ON public.report_distributions USING btree (report_type_id);


--
-- Name: idx_engine_alarm_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_engine_alarm_status ON public.engine_data USING btree (alarm_status) WHERE (alarm_status > 0);


--
-- Name: idx_engine_id_timestamp; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_engine_id_timestamp ON public.engine_data USING btree (engine_id, "timestamp");


--
-- Name: idx_engine_synced; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_engine_synced ON public.engine_data USING btree (is_synced) WHERE (is_synced = false);


--
-- Name: idx_environmental_synced; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_environmental_synced ON public.environmental_data USING btree (is_synced) WHERE (is_synced = false);


--
-- Name: idx_environmental_timestamp; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_environmental_timestamp ON public.environmental_data USING btree ("timestamp" DESC);


--
-- Name: idx_fuel_alert_synced; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_fuel_alert_synced ON public.fuel_efficiency_alerts USING btree (is_synced) WHERE (is_synced = false);


--
-- Name: idx_fuel_alert_timestamp; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_fuel_alert_timestamp ON public.fuel_efficiency_alerts USING btree ("timestamp" DESC);


--
-- Name: idx_fuel_alert_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_fuel_alert_type ON public.fuel_efficiency_alerts USING btree (alert_type);


--
-- Name: idx_fuel_alert_unresolved; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_fuel_alert_unresolved ON public.fuel_efficiency_alerts USING btree (is_resolved, severity) WHERE (is_resolved = false);


--
-- Name: idx_fuel_analytics_cii; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_fuel_analytics_cii ON public.fuel_analytics_summaries USING btree (c_i_i_rating);


--
-- Name: idx_fuel_analytics_period; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_fuel_analytics_period ON public.fuel_analytics_summaries USING btree (period_type, period_start DESC);


--
-- Name: idx_fuel_analytics_synced; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_fuel_analytics_synced ON public.fuel_analytics_summaries USING btree (is_synced) WHERE (is_synced = false);


--
-- Name: idx_fuel_analytics_voyage; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_fuel_analytics_voyage ON public.fuel_analytics_summaries USING btree (voyage_id);


--
-- Name: idx_fuel_synced; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_fuel_synced ON public.fuel_consumption USING btree (is_synced) WHERE (is_synced = false);


--
-- Name: idx_fuel_timestamp; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_fuel_timestamp ON public.fuel_consumption USING btree ("timestamp" DESC);


--
-- Name: idx_fuel_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_fuel_type ON public.fuel_consumption USING btree (fuel_type);


--
-- Name: idx_generator_id_timestamp; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_generator_id_timestamp ON public.generator_data USING btree (generator_id, "timestamp");


--
-- Name: idx_generator_synced; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_generator_synced ON public.generator_data USING btree (is_synced) WHERE (is_synced = false);


--
-- Name: idx_maintenance_equipment; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_maintenance_equipment ON public.maintenance_tasks USING btree (equipment_id);


--
-- Name: idx_maintenance_next_due; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_maintenance_next_due ON public.maintenance_tasks USING btree (next_due_at);


--
-- Name: idx_maintenance_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_maintenance_status ON public.maintenance_tasks USING btree (status);


--
-- Name: idx_maintenance_status_priority; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_maintenance_status_priority ON public.maintenance_tasks USING btree (status, priority) WHERE ((status)::text = ANY ((ARRAY['PENDING'::character varying, 'OVERDUE'::character varying, 'IN_PROGRESS'::character varying])::text[]));


--
-- Name: idx_maintenance_synced; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_maintenance_synced ON public.maintenance_tasks USING btree (is_synced) WHERE (is_synced = false);


--
-- Name: idx_maintenance_task_details_task_detail_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_maintenance_task_details_task_detail_id ON public.maintenance_task_details USING btree (task_detail_id);


--
-- Name: idx_maintenance_task_id_unique; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX idx_maintenance_task_id_unique ON public.maintenance_tasks USING btree (task_id);


--
-- Name: idx_maintenance_task_type_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_maintenance_task_type_id ON public.maintenance_tasks USING btree (task_type_id);


--
-- Name: idx_maintenance_tasks_task_type_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_maintenance_tasks_task_type_id ON public.maintenance_tasks USING btree (task_type_id) WHERE (task_type_id IS NOT NULL);


--
-- Name: idx_maritime_reports_report_type_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_maritime_reports_report_type_id ON public.maritime_reports USING btree (report_type_id);


--
-- Name: idx_material_categories_parent_category_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_material_categories_parent_category_id ON public.material_categories USING btree (parent_category_id) WHERE (parent_category_id IS NOT NULL);


--
-- Name: idx_material_category_active; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_material_category_active ON public.material_categories USING btree (is_active) WHERE (is_active = true);


--
-- Name: idx_material_category_code_unique; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX idx_material_category_code_unique ON public.material_categories USING btree (category_code);


--
-- Name: idx_material_category_parent; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_material_category_parent ON public.material_categories USING btree (parent_category_id);


--
-- Name: idx_material_category_synced; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_material_category_synced ON public.material_categories USING btree (is_synced) WHERE (is_synced = false);


--
-- Name: idx_material_item_active; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_material_item_active ON public.material_items USING btree (is_active) WHERE (is_active = true);


--
-- Name: idx_material_item_barcode; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_material_item_barcode ON public.material_items USING btree (barcode);


--
-- Name: idx_material_item_category; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_material_item_category ON public.material_items USING btree (category_id);


--
-- Name: idx_material_item_code_unique; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX idx_material_item_code_unique ON public.material_items USING btree (item_code);


--
-- Name: idx_material_item_synced; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_material_item_synced ON public.material_items USING btree (is_synced) WHERE (is_synced = false);


--
-- Name: idx_material_items_category_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_material_items_category_id ON public.material_items USING btree (category_id);


--
-- Name: idx_mtd_completed; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_mtd_completed ON public.maintenance_task_details USING btree (is_completed) WHERE (is_completed = false);


--
-- Name: idx_mtd_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_mtd_status ON public.maintenance_task_details USING btree (status);


--
-- Name: idx_mtd_task_detail_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_mtd_task_detail_id ON public.maintenance_task_details USING btree (task_detail_id);


--
-- Name: idx_navigation_synced; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_navigation_synced ON public.navigation_data USING btree (is_synced) WHERE (is_synced = false);


--
-- Name: idx_navigation_timestamp; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_navigation_timestamp ON public.navigation_data USING btree ("timestamp" DESC);


--
-- Name: idx_nmea_sentence_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_nmea_sentence_type ON public.nmea_raw_data USING btree (sentence_type);


--
-- Name: idx_nmea_synced; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_nmea_synced ON public.nmea_raw_data USING btree (is_synced) WHERE (is_synced = false);


--
-- Name: idx_nmea_timestamp; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_nmea_timestamp ON public.nmea_raw_data USING btree ("timestamp" DESC);


--
-- Name: idx_noon_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_noon_date ON public.noon_reports USING btree (report_date DESC);


--
-- Name: idx_orb_entry_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_orb_entry_date ON public.oil_record_books USING btree (entry_date DESC);


--
-- Name: idx_orb_officer; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_orb_officer ON public.oil_record_books USING btree (officer_in_charge);


--
-- Name: idx_orb_operation_code; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_orb_operation_code ON public.oil_record_books USING btree (operation_code);


--
-- Name: idx_orb_synced; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_orb_synced ON public.oil_record_books USING btree (is_synced) WHERE (is_synced = false);


--
-- Name: idx_position_report_datetime; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_position_report_datetime ON public.position_reports USING btree (report_date_time DESC);


--
-- Name: idx_position_synced; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_position_synced ON public.position_data USING btree (is_synced) WHERE (is_synced = false);


--
-- Name: idx_position_timestamp; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_position_timestamp ON public.position_data USING btree ("timestamp" DESC);


--
-- Name: idx_position_timestamp_synced; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_position_timestamp_synced ON public.position_data USING btree ("timestamp", is_synced);


--
-- Name: idx_report_datetime; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_report_datetime ON public.maritime_reports USING btree (report_date_time DESC);


--
-- Name: idx_report_deleted; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_report_deleted ON public.maritime_reports USING btree (deleted_at) WHERE (deleted_at IS NOT NULL);


--
-- Name: idx_report_distributions_report_type_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_report_distributions_report_type_id ON public.report_distributions USING btree (report_type_id);


--
-- Name: idx_report_number_unique; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX idx_report_number_unique ON public.maritime_reports USING btree (report_number);


--
-- Name: idx_report_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_report_status ON public.maritime_reports USING btree (status);


--
-- Name: idx_report_status_datetime; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_report_status_datetime ON public.maritime_reports USING btree (status, report_date_time) WHERE ((status)::text = ANY ((ARRAY['DRAFT'::character varying, 'SUBMITTED'::character varying])::text[]));


--
-- Name: idx_report_synced; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_report_synced ON public.maritime_reports USING btree (is_synced) WHERE (is_synced = false);


--
-- Name: idx_report_type_active; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_report_type_active ON public.report_types USING btree (is_active) WHERE (is_active = true);


--
-- Name: idx_report_type_category; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_report_type_category ON public.report_types USING btree (category);


--
-- Name: idx_report_type_code_unique; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX idx_report_type_code_unique ON public.report_types USING btree (type_code);


--
-- Name: idx_report_type_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_report_type_id ON public.maritime_reports USING btree (report_type_id);


--
-- Name: idx_report_type_mandatory; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_report_type_mandatory ON public.report_types USING btree (is_mandatory) WHERE (is_mandatory = true);


--
-- Name: idx_role_active; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_role_active ON public.roles USING btree (is_active) WHERE (is_active = true);


--
-- Name: idx_role_code_unique; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX idx_role_code_unique ON public.roles USING btree (role_code);


--
-- Name: idx_sync_priority_retry; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_sync_priority_retry ON public.sync_queue USING btree (priority, next_retry_at) WHERE (synced_at IS NULL);


--
-- Name: idx_sync_synced_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_sync_synced_at ON public.sync_queue USING btree (synced_at);


--
-- Name: idx_sync_table; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_sync_table ON public.sync_queue USING btree (table_name);


--
-- Name: idx_sync_table_record; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_sync_table_record ON public.sync_queue USING btree (table_name, record_key);


--
-- Name: idx_tank_id_timestamp; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_tank_id_timestamp ON public.tank_levels USING btree (tank_id, "timestamp");


--
-- Name: idx_tank_synced; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_tank_synced ON public.tank_levels USING btree (is_synced) WHERE (is_synced = false);


--
-- Name: idx_tank_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_tank_type ON public.tank_levels USING btree (tank_type);


--
-- Name: idx_task_detail_active; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_task_detail_active ON public.task_details USING btree (is_active) WHERE (is_active = true);


--
-- Name: idx_task_detail_type_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_task_detail_type_id ON public.task_details USING btree (task_type_id);


--
-- Name: idx_task_detail_type_order; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_task_detail_type_order ON public.task_details USING btree (task_type_id, order_index);


--
-- Name: idx_task_details_task_type_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_task_details_task_type_id ON public.task_details USING btree (task_type_id) WHERE (task_type_id IS NOT NULL);


--
-- Name: idx_task_type_active; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_task_type_active ON public.task_types USING btree (is_active) WHERE (is_active = true);


--
-- Name: idx_task_type_category; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_task_type_category ON public.task_types USING btree (category);


--
-- Name: idx_task_type_code_unique; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX idx_task_type_code_unique ON public.task_types USING btree (type_code);


--
-- Name: idx_transmission_datetime; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_transmission_datetime ON public.report_transmission_logs USING btree (transmission_date_time DESC);


--
-- Name: idx_transmission_failed_retry; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_transmission_failed_retry ON public.report_transmission_logs USING btree (status, retry_count) WHERE ((status)::text = 'FAILED'::text);


--
-- Name: idx_transmission_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_transmission_status ON public.report_transmission_logs USING btree (status);


--
-- Name: idx_tttd_task_detail_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_tttd_task_detail_id ON public.task_type_task_details USING btree ("TaskDetailId");


--
-- Name: idx_tttd_task_type_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_tttd_task_type_id ON public.task_type_task_details USING btree ("TaskTypeId");


--
-- Name: idx_user_active; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_user_active ON public.users USING btree (is_active) WHERE (is_active = true);


--
-- Name: idx_user_crew_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_user_crew_id ON public.users USING btree (crew_id);


--
-- Name: idx_user_role_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_user_role_id ON public.users USING btree (role_id);


--
-- Name: idx_user_username_unique; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX idx_user_username_unique ON public.users USING btree (username);


--
-- Name: idx_users_crew_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_users_crew_id ON public.users USING btree (crew_id);


--
-- Name: idx_users_role_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_users_role_id ON public.users USING btree (role_id);


--
-- Name: idx_voyage_departure; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_voyage_departure ON public.voyage_records USING btree (departure_time DESC);


--
-- Name: idx_voyage_number_unique; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX idx_voyage_number_unique ON public.voyage_records USING btree (voyage_number);


--
-- Name: idx_voyage_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_voyage_status ON public.voyage_records USING btree (voyage_status);


--
-- Name: idx_voyage_synced; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_voyage_synced ON public.voyage_records USING btree (is_synced) WHERE (is_synced = false);


--
-- Name: idx_watchkeeping_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_watchkeeping_date ON public.watchkeeping_logs USING btree (watch_date DESC);


--
-- Name: idx_watchkeeping_date_period; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_watchkeeping_date_period ON public.watchkeeping_logs USING btree (watch_date, watch_period);


--
-- Name: idx_watchkeeping_officer; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_watchkeeping_officer ON public.watchkeeping_logs USING btree (officer_on_watch);


--
-- Name: idx_watchkeeping_synced; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_watchkeeping_synced ON public.watchkeeping_logs USING btree (is_synced) WHERE (is_synced = false);


--
-- Name: idx_watchkeeping_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_watchkeeping_type ON public.watchkeeping_logs USING btree (watch_type);


--
-- Name: maintenance_task_details FK_maintenance_task_details_task_details_TaskDetailId1; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.maintenance_task_details
    ADD CONSTRAINT "FK_maintenance_task_details_task_details_TaskDetailId1" FOREIGN KEY ("TaskDetailId1") REFERENCES public.task_details(id);


--
-- Name: maintenance_tasks FK_maintenance_tasks_task_types_task_type_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.maintenance_tasks
    ADD CONSTRAINT "FK_maintenance_tasks_task_types_task_type_id" FOREIGN KEY (task_type_id) REFERENCES public.task_types(id) ON DELETE SET NULL;


--
-- Name: maritime_reports FK_maritime_reports_report_types_report_type_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.maritime_reports
    ADD CONSTRAINT "FK_maritime_reports_report_types_report_type_id" FOREIGN KEY (report_type_id) REFERENCES public.report_types(id) ON DELETE RESTRICT;


--
-- Name: material_categories FK_material_categories_material_categories_parent_category_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.material_categories
    ADD CONSTRAINT "FK_material_categories_material_categories_parent_category_id" FOREIGN KEY (parent_category_id) REFERENCES public.material_categories(id) ON DELETE RESTRICT;


--
-- Name: material_items FK_material_items_material_categories_category_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.material_items
    ADD CONSTRAINT "FK_material_items_material_categories_category_id" FOREIGN KEY (category_id) REFERENCES public.material_categories(id) ON DELETE RESTRICT;


--
-- Name: report_distributions FK_report_distributions_report_types_report_type_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.report_distributions
    ADD CONSTRAINT "FK_report_distributions_report_types_report_type_id" FOREIGN KEY (report_type_id) REFERENCES public.report_types(id) ON DELETE CASCADE;


--
-- Name: task_details FK_task_details_task_types_task_type_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.task_details
    ADD CONSTRAINT "FK_task_details_task_types_task_type_id" FOREIGN KEY (task_type_id) REFERENCES public.task_types(id) ON DELETE SET NULL;


--
-- Name: task_type_task_details FK_task_type_task_details_task_details_TaskDetailId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.task_type_task_details
    ADD CONSTRAINT "FK_task_type_task_details_task_details_TaskDetailId" FOREIGN KEY ("TaskDetailId") REFERENCES public.task_details(id) ON DELETE CASCADE;


--
-- Name: task_type_task_details FK_task_type_task_details_task_types_TaskTypeId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.task_type_task_details
    ADD CONSTRAINT "FK_task_type_task_details_task_types_TaskTypeId" FOREIGN KEY ("TaskTypeId") REFERENCES public.task_types(id) ON DELETE CASCADE;


--
-- Name: users FK_users_crew_members_crew_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "FK_users_crew_members_crew_id" FOREIGN KEY (crew_id) REFERENCES public.crew_members(crew_id) ON DELETE RESTRICT;


--
-- Name: users FK_users_roles_role_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "FK_users_roles_role_id" FOREIGN KEY (role_id) REFERENCES public.roles(id) ON DELETE RESTRICT;


--
-- Name: maintenance_task_details f_k_maintenance_task_details__task_details_task_detail_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.maintenance_task_details
    ADD CONSTRAINT f_k_maintenance_task_details__task_details_task_detail_id FOREIGN KEY (task_detail_id) REFERENCES public.task_details(id) ON DELETE RESTRICT;


--
-- Name: maintenance_task_details f_k_maintenance_task_details__task_types_task_type_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.maintenance_task_details
    ADD CONSTRAINT f_k_maintenance_task_details__task_types_task_type_id FOREIGN KEY (task_type_id) REFERENCES public.task_types(id);


--
-- Name: report_amendments fk_amendment_report_parent; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.report_amendments
    ADD CONSTRAINT fk_amendment_report_parent FOREIGN KEY (original_report_id) REFERENCES public.maritime_reports(id);


--
-- Name: arrival_reports fk_arrival_report_parent; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.arrival_reports
    ADD CONSTRAINT fk_arrival_report_parent FOREIGN KEY (maritime_report_id) REFERENCES public.maritime_reports(id);


--
-- Name: arrival_reports fk_arrival_voyage; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.arrival_reports
    ADD CONSTRAINT fk_arrival_voyage FOREIGN KEY (voyage_id) REFERENCES public.voyage_records(id);


--
-- Name: report_attachments fk_attachment_report_parent; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.report_attachments
    ADD CONSTRAINT fk_attachment_report_parent FOREIGN KEY (maritime_report_id) REFERENCES public.maritime_reports(id);


--
-- Name: bunker_reports fk_bunker_report_parent; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.bunker_reports
    ADD CONSTRAINT fk_bunker_report_parent FOREIGN KEY (maritime_report_id) REFERENCES public.maritime_reports(id);


--
-- Name: cargo_operations fk_cargo_voyage; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cargo_operations
    ADD CONSTRAINT fk_cargo_voyage FOREIGN KEY (voyage_id) REFERENCES public.voyage_records(id);


--
-- Name: departure_reports fk_departure_report_parent; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.departure_reports
    ADD CONSTRAINT fk_departure_report_parent FOREIGN KEY (maritime_report_id) REFERENCES public.maritime_reports(id);


--
-- Name: departure_reports fk_departure_voyage; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.departure_reports
    ADD CONSTRAINT fk_departure_voyage FOREIGN KEY (voyage_id) REFERENCES public.voyage_records(id);


--
-- Name: report_workflow_histories fk_history_report_parent; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.report_workflow_histories
    ADD CONSTRAINT fk_history_report_parent FOREIGN KEY (maritime_report_id) REFERENCES public.maritime_reports(id);


--
-- Name: maritime_reports fk_maritime_reports_voyage; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.maritime_reports
    ADD CONSTRAINT fk_maritime_reports_voyage FOREIGN KEY (voyage_id) REFERENCES public.voyage_records(id);


--
-- Name: maintenance_task_details fk_mtd_parent; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.maintenance_task_details
    ADD CONSTRAINT fk_mtd_parent FOREIGN KEY (maintenance_task_id) REFERENCES public.maintenance_tasks(id);


--
-- Name: noon_reports fk_noon_report_parent; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.noon_reports
    ADD CONSTRAINT fk_noon_report_parent FOREIGN KEY (maritime_report_id) REFERENCES public.maritime_reports(id);


--
-- Name: position_reports fk_position_report_parent; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.position_reports
    ADD CONSTRAINT fk_position_report_parent FOREIGN KEY (maritime_report_id) REFERENCES public.maritime_reports(id);


--
-- Name: report_transmission_logs fk_transmission_report_parent; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.report_transmission_logs
    ADD CONSTRAINT fk_transmission_report_parent FOREIGN KEY (maritime_report_id) REFERENCES public.maritime_reports(id);


--
-- PostgreSQL database dump complete
--

\unrestrict ddDgDJd9or2wOBBwBwZSDlBx6tN3wOVxmQcM48gwl9tFvnn0Ci9WGwcu31fMOWY

